[2018-04-01 09:37] #500 closed

[2018-04-02 16:36] velhbxtyrj commented on #493
@eliopinho can you check it?

[2018-04-02 16:40] #438 closed

[2018-04-02 16:51] velhbxtyrj commented on #486
For me it works perfectly. Can someone else check this out? @matze1243 @phaze1G @eliopinho

[2018-04-02 17:01] eliopinho commented on #493
Im in easter hollidays, as son i can, i will test it

[2018-04-03 18:16] eliopinho commented on #493
@velhbxtyrj @iopietro

can close this treath , when raid an oasis if the oasis as mine, raid 10% of my own resources, if raid an oasis from other player, raid 10% of the player resources..
this is fair. :)

lets go to another bug :)

[2018-04-03 18:26] eliopinho commented on #490
@iopietro

[2018-04-03 18:40] eliopinho opened #504 "plus and spy"
with plus adversary can see if gona be spyed

![captura de ecra 2018-04-03 as 19 38 35](https://user-images.githubusercontent.com/5437151/38268724-c11ca152-3776-11e8-8192-4fa3621a80c8.png)

[2018-04-03 18:40] #493 closed

[2018-04-03 18:44] velhbxtyrj commented on #504
This problem is related to exploration. When someone explores you then you do not see this in dorf1.php. This need to be fixed and in the plus function for dorf3.php :)

[2018-04-03 19:14] velhbxtyrj commented on #463
@iopietro How much I correctly understood this problem is corrected here this correction https://github.com/Shadowss/TravianZ/pull/503/commits/757b41143d0a2f3df459300febd2efa807bc8fdd?diff=unified

[2018-04-03 19:38] iopietro commented on #463
I think that the bug in the video is another bug, which happens when the costruction is finished, i'll look into it.

[2018-04-03 21:25] iopietro commented on #498
That's because 6834555/3600 = 1898,4875 hours and the minimum training time for all troops is one second. It's a bug tho.

[2018-04-03 22:35] eliopinho commented on #504
thread can be closed, fixed!
already tested

[2018-04-03 22:38] eliopinho opened #506 "Double building list"
@iopietro
when player click in avaliable building site, multiple building show multiple times..

![captura de ecra 2018-04-03 as 23 36 38](https://user-images.githubusercontent.com/5437151/38279380-ead822ac-3797-11e8-9462-66c50a399070.png)

[2018-04-04 05:30] velhbxtyrj commented on #498
As for me it's a bug. Also it seems to me that this can be caused by the server. This should be checked on the hosting and locally.
The game can last for a year with such speeds. The uniqueness is that players will be able to build very collosal armies both defensive and attacking.

[2018-04-04 05:36] velhbxtyrj commented on #504
Good operative work :)

[2018-04-04 05:36] #504 closed

[2018-04-04 05:43] TerraSkye opened #507 "Clarification of the battle process"
hello,
i'm trying to clarify processes that happen within travian
at the moment im trying to work out the way an attack happens and ive come to the folowing order from up to down. is there anyway someone can confirm my way of thinking?

-  send troops
-  add tracking attack to the list

 - simulate battle.
- kill troops sender
- kill troops defender
- add exp to hero
- fetch resources.

- decrease

[2018-04-04 05:45] TerraSkye commented on #498
the whole issue resides in that there is a max production of units as 1 p/s

[2018-04-04 14:40] iopietro commented on #485
Thanks :), yeah, now it works on mini and full map, but only if you have a plus account.
It's written here: [https://travianlibrary.wordpress.com/2009/05/07/travian-35-changelog/](url)

and reinforcing from your currently selected village (PLUS feature)

And i don't think they changed something in the T3.6 version.

[2018-04-04 15:54] velhbxtyrj commented on #485
@iopietro Good job :)

[2018-04-04 15:54] #485 closed

[2018-04-04 16:15] phaze1G commented on #507
@iopietro thanks for working on this project! You should ask @Shadowss to lead this project.

[2018-04-04 16:19] iopietro commented on #485
Thanks :)

[2018-04-04 16:30] iopietro commented on #507
Yeah, i think so too.

[2018-04-04 17:36] velhbxtyrj commented on #217
If I'm not mistaken, the first delivery of medals takes place fourteen days after the server starts (if the interval for issuing medals is set exactly seven days). After that, the medals are issued exactly seven days later as this should work.

[2018-04-04 17:53] TerraSkye commented on #507
Thank you for the clarification

As ive stated in an other issue im working on a small rework of travian. When i have some more work done i will share my work. And maybe if its something you guys like we can continu to build forward on it.

[2018-04-04 17:53] #507 closed

[2018-04-04 18:03] iopietro commented on #507
Rewriting the entire code from scratch is a very huge work, good luck!

[2018-04-04 18:25] #506 closed

[2018-04-04 22:37] eliopinho opened #511 "Feature Gold"
@iopietro can you add some feature in admin or installation to give XX amount off gold to medals winner when the medals are given also with a mass message to users know that

[2018-04-04 23:16] eliopinho opened #512 "Avaliable buldings to construct"
@iopietro
for example i already have a market and no granary (destroyed by catapults)
in construction list shows the market..

![captura de ecra 2018-04-05 as 00 14 33](https://user-images.githubusercontent.com/5437151/38339486-604b3a32-3866-11e8-8888-74085467c685.png)
![captura de ecra 2018-04-05 as 00 14 44](https://user-images.githubusercontent.com/5437151/38339489-64a8c798-3866-11e8-8760-dd2ee

[2018-04-04 23:41] eliopinho commented on #511
I think thats a Nice feature to play with friends.. No need always enter in admin to do that

[2018-04-04 23:47] iopietro commented on #511
Yes, it could be a nice feature :).

[2018-04-05 06:45] #486 closed

[2018-04-05 06:55] velhbxtyrj commented on #498
All troops train instantly :P

[2018-04-05 06:55] #498 closed

[2018-04-05 13:32] eliopinho commented on #485
@iopietro can you improve that with respective colours ?
always show the red one.
should be yellow if im attacking, green if im reenforcement , purple if im attacking oasis

by the way, works fine :)

[2018-04-05 14:02] eliopinho opened #513 "Village destroyed"
@iopietro

i create a user1, with admin and i create a second village.
with another user, i launch multiple attacks to destroy that village, i noticed 2 things first:

![captura de ecra 2018-04-05 as 14 46 41](https://user-images.githubusercontent.com/5437151/38370235-8afd9466-38e1-11e8-8684-1bf5db5c1134.png)
![captura de ecra 2018-04-05 as 14 46 59](https://user-images.githubusercontent.com/54371

[2018-04-05 15:14] iopietro commented on #512
It should be fixed, shouldn't it?

[2018-04-05 15:16] iopietro commented on #513
I think that you destroyed the main building 2 times because you had 2 main buildings: https://user-images.githubusercontent.com/5437151/38339489-64a8c798-3866-11e8-8760-dd2eeff6c595.png

This is the screen from the issue #512.

I'll look into the other bugs.

[2018-04-05 15:37] velhbxtyrj commented on #512
I noticed one problem. I have not built Grain Mill although all the conditions for this have been met and it is displayed in "avaliable". Accordingly, all conditions are met for the construction of Bakery. And now the Bakery are displayed in "more", maybe Bakery should be displayed in "soon"?
It turns out that I had to fulfill only one condition for the construction of Bakery, this is to build Gra

[2018-04-05 15:41] eliopinho commented on #513
yeah that screen is from the same village, after work i will try it again :)

[2018-04-05 16:18] velhbxtyrj commented on #450
@iopietro Please pay attention to this problem, it is very serious for the game process.

[2018-04-05 17:43] iopietro commented on #513
Fixed in c3e2bae. Let me know if i can close this issue.

[2018-04-05 17:58] eliopinho commented on #513
im gona test it now

[2018-04-05 18:33] velhbxtyrj opened #514 "Misrepresentation of an attack on an oasis at a rally point"
If another player attacks my oasis, then I see this picture at the rally point. The other player has everything displayed correctly.
![1](https://user-images.githubusercontent.com/21306412/38384752-9dbbc050-3918-11e8-80dd-4044cf33fc58.jpg)

In this picture everything is displayed correctly
![default](https://user-images.githubusercontent.com/21306412/38384812-cb7305d0-3918-11e8-9e87-6ab4592e02af.j

[2018-04-05 18:34] velhbxtyrj commented on #435
A few days ago it did not work. But today I checked it and everything works. Perhaps you should close this problem?

[2018-04-05 18:44] velhbxtyrj opened #515 "Displaying the type of attacking troops at the rally point"
At the rally point, we should be able to see which types of troops are attacking us. If we have a rally point of level 2 and someone is attacking us with one unit, then we should see which type it is. If we have a level 20 rally point, then we should see a total of 19 attacking units. If there are 20 attacking units, then everything should be displayed as and is displayed now.

I give a picture fo

[2018-04-05 18:58] iopietro commented on #513
Nice :), i'm gonna close this issue.

[2018-04-05 18:58] #513 closed

[2018-04-05 19:01] iopietro commented on #435
Yes, it should be fixed and working as intended now.

[2018-04-05 19:01] #435 closed

[2018-04-05 19:03] iopietro commented on #515
Yeah, i remember it too :), it's a bug.

[2018-04-05 19:12] iopietro commented on #450
Fixed in c3e2bae.

![simulation](https://user-images.githubusercontent.com/5269236/38386753-065c5ac8-3916-11e8-9a29-f58fcfb77db7.JPG)
![attack](https://user-images.githubusercontent.com/5269236/38386754-067638bc-3916-11e8-889f-0f9b66438ef4.JPG)

@velhbxtyrj Let me know if i can close this issue.

[2018-04-05 19:48] iopietro commented on #512
It should be fixed in a067344e03fd426a04ce58ff622f704b16af36ea.

[2018-04-05 20:15] velhbxtyrj commented on #512
If build Grain Mill on level 1, then the bakery is displayed in "soon". By code, this works correctly. But if we not built Grain Mill then bakery is displayed in "more".

This is displayed in the "soon" if set `$grainmill >= 0`. I'm not sure if it will be right :)

[2018-04-05 20:43] velhbxtyrj commented on #515
My mistake (
All the same it started with T4.
In T3.6 you can safely spam one unit.
For some reason, it always seemed to me that this was starting with T3.6.

[2018-04-05 20:44] TerraSkye commented on #515
T3.6 is the last i played thats why i dont remeber that feature.

[2018-04-05 20:57] iopietro commented on #515
@velhbxtyrj Me too.
@TerraSkye And you're right, now we should decide if it's a good or a bad feature.

[2018-04-05 21:00] iopietro commented on #512
I forgotten a little thing, it should be fixed in 00d5021.

Now, if you meet at least one prerequisite, the Bakery will show in the "Soon" building list.

The three prerequisites are: Grain Mill from level 1 to level 5, Cropland from level 5 to level 10, Main Building from level 2 to level 5.

[2018-04-05 21:38] velhbxtyrj commented on #512
This needs to be reviewed carefully. Tomorrow I will study it. I just noticed another oddity. If the residence is established in the village and I am removing the main building on level 3 from level 20, then the palace appears in the "soon".
I think it is necessary to relate two different conditions. For example, that the building would appear "soon" if we have 3 conditions and two of them are ful

[2018-04-05 21:44] velhbxtyrj commented on #450
With the game calculator this perfectly matches. But a little different from that of another calculator :)

[2018-04-05 21:47] iopietro commented on #512
Yeah, you're right, the problem is related to nearly all buildings in the "Soon" and "Show more" list.

[2018-04-06 01:48] diogorocha18 opened #516 "developing code"
Good evening,

I needed your help because I am developing something quite complex and goatava to present and sure you will want for your next update.

Continuing ... I wonder if it is possible to know the encryption code of the passwords or where it has the details in the code so that I can adapt to what I am creating next.

I await compliments

[2018-04-06 06:47] velhbxtyrj commented on #450
I only know the kirilloid calculator and I've been making attacks with improvements. Perhaps the situation is in bonuses from forges and walls. Here is my result of the attack:
![default](https://user-images.githubusercontent.com/21306412/38406780-67d9a238-397f-11e8-9c90-4dd49a2af02b.jpg)
![2](https://user-images.githubusercontent.com/21306412/38406784-6bb938f0-397f-11e8-820f-5f5697246260.jpg)

[2018-04-06 08:04] iopietro commented on #450
Yeah, you're right, with no forges/walls our battles are equal to kirilloid battles, but with forges/walls they're slightly differtents.

[2018-04-06 08:43] Shadowss opened #517 "Players Reported in Admin Panel"
Good morning,

Must to be fixed , still under construction rubric on Players Reported. Must show reports. AND IGM

[2018-04-06 08:50] Shadowss opened #518 "For developers and testers. 8.3.3 version"
We must a full evaluation of the entire version and put all bugs in 1 posts. To see what bugs is still remaining and what need testings.

- [x] **Capture and re-capture of the village by the leaders**
  - [x] Conducting the capture of the village all the slots for the foundation of the village, in the captured village, are cleared and it is possible to build new leaders and settlers. Slots should

[2018-04-06 11:37] velhbxtyrj commented on #518
1. Capture and re-capture of the village by the leaders.
Conducting the capture of the village all the slots for the foundation of the village, in the captured village, are cleared and it is possible to build new leaders and settlers. Slots should not be cleared if a village has already been established or captured from this village.
The following applies here. If we did a re-capture then the slot

[2018-04-06 13:27] eliopinho commented on #518
ok, lets get work on the bugs and leave this to the end..

[2018-04-06 13:41] velhbxtyrj commented on #518
1. Before artifacts, you can add that the removal of the village does not work if the artifact is captured by the hero.
2. Up to the main attacking bugs, you can add, the warriors do not die during the campaign in the attack at minus the value of the crop.

More I do not remember what else were bugs :(

[2018-04-06 13:44] iopietro commented on #516
Hi, that's how we crypt passwords:
[code]

[2018-04-06 13:53] iopietro commented on #518
@velhbxtyrj, Thanks, I added those bugs to the list.

[2018-04-06 14:28] Shadowss commented on #518
I have an ancient plan on my server. Also you have 2 on my server. What`s wrong ?

[2018-04-06 14:43] velhbxtyrj commented on #518
@Shadowss The ancient plan has nothing to do with this :)

[2018-04-06 15:59] iopietro commented on #518
@Shadowss, Yeah, lol.

[2018-04-06 16:24] Shadowss commented on #518
News box system must to be editable from Admin panel , to annouce news like Easter Peace , etc.

[2018-04-06 16:57] iopietro commented on #450
Ok, it should be finally fixed in 5f9186b . Now blacksmith and armoury upgrades are counted correctly:
![simulation](https://user-images.githubusercontent.com/5269236/38433748-5bbe46b4-39cc-11e8-9f5e-90c6364e21d9.JPG)
![simulation2](https://user-images.githubusercontent.com/5269236/38433749-5bd995cc-39cc-11e8-975f-4c062a82f37b.JPG)

[2018-04-06 17:52] iopietro commented on #515
So, do you want to insert this as a feature or not?

[2018-04-06 17:57] iopietro commented on #514
It should be fixed in eb041f5. Let me know if i can close this issue.

[2018-04-06 19:03] velhbxtyrj commented on #515
For me it would be interesting. But if this is not a real feature of the T3.6 version, then it needs to be done with the option to be included during the installation or in the admin panel. Whatever it can be customized at will.

[2018-04-06 19:13] velhbxtyrj commented on #514
Now it works correctly
![default](https://user-images.githubusercontent.com/21306412/38439769-96fc2d84-39e7-11e8-959a-66c658016429.jpg)

P.S. The one who opened the problem can close it :)

[2018-04-06 19:13] #514 closed

[2018-04-06 19:15] velhbxtyrj commented on #497
@iopietro Maybe you should close this issue? :P

[2018-04-06 19:52] iopietro commented on #514
Yeah, it was just for saying :).

[2018-04-06 19:52] iopietro commented on #515
Ok, right, i'll code it.

[2018-04-06 19:53] iopietro commented on #497
@velhbxtyrj, Indeed, lol.

[2018-04-06 19:53] #497 closed

[2018-04-06 19:56] velhbxtyrj commented on #450
This is an almost perfect battle :) You make the final decision :)
![default](https://user-images.githubusercontent.com/21306412/38441513-a58dc384-39ed-11e8-8732-240544ecb07c.jpg)
![1](https://user-images.githubusercontent.com/21306412/38441517-aa067ed8-39ed-11e8-961d-ea52c76ba58a.jpg)

[2018-04-06 19:57] #489 closed

[2018-04-06 19:58] #481 closed

[2018-04-06 19:58] #487 closed

[2018-04-06 20:07] iopietro commented on #450
I think that our formula has a very little differences than the kirilloid's formula. So, considering that the two battles are very very similar to each other, this issue is finally resolved :) (the battle formula can't be better than this, unless kirilloid gives us his formula).

[2018-04-06 20:11] iopietro commented on #480
Fixed in f341c20. @velhbxtyrj I tested it and it works great, if you want to test it too, it would be perfect :).

[2018-04-06 21:08] velhbxtyrj commented on #480
The completion time of the improvement is not displayed correctly. Once it can be displayed correctly, the second time it will look like this:
![default](https://user-images.githubusercontent.com/21306412/38444416-c0a400e8-39f7-11e8-88ec-4d08d6da03ab.jpg)

[2018-04-06 21:11] velhbxtyrj commented on #450
@iopietro I wrote a letter to Kirilloid. Let's wait can help :)

[2018-04-06 21:32] kirilloid commented on #450
Attack/defense points for units are rounded to 4 decimals places after upgrades.
So values for units in the bottom table are EXACT: http://travian.kirilloid.ru/troops.php#s=1.36
52.4048 means 52.4048000000...

Wall bonus is rounded to 3 decimal places or 1 place if percents are used.
Again, these are exact values: http://travian.kirilloid.ru/build.php#b=31&s=1.36
80.6% means 80.6000000...%

[2018-04-06 21:51] Dayran commented on #518
what good to know are active

[2018-04-06 21:56] kirilloid commented on #450
Total attack/defense points are rounded to the nearest integer.
Also notice there’s a slight difference between upgrade formulas in T3 and T4/T5.
The formula is correct with the latest commit—just pay attention, which version do you use in my site, everyone.

Formula guide in English: https://wbb.forum.travian.com/thread/75248-combat-system-formulas/

[2018-04-06 23:55] iopietro commented on #450
@kirilloid, Thanks a lot! Tomorrow i'll look into these formulas

[2018-04-07 08:02] velhbxtyrj commented on #480
I just completed a complete replacement of all the files. The first time this works fine, but when the first improvement ends and the improvement begins with the queue, I will add again a new queue and get this picture. This works fine once, the second time as described above.

[2018-04-07 10:49] iopietro commented on #480
Can you do a video about this bug? I can't reproduce it, i've tried to upgrade a troop two times, it worked. Then i waited the finish of the first upgrade and enqueued another upgrade, it worked. I don't know how to reproduce it.

[2018-04-07 13:15] iopietro commented on #450
@kirilloid I've looked at our formulas, and they seem equal to your formulas.

For example:
![simulator1](https://user-images.githubusercontent.com/5269236/38454668-c1848ff4-3a6b-11e8-86a6-f5a3c2f3e06e.JPG)
![simulator2](https://user-images.githubusercontent.com/5269236/38454669-c32593e4-3a6b-11e8-80f0-2f85575cf982.JPG)

I think that the different results (with no wall bonus, no residence/palace b

[2018-04-07 13:40] velhbxtyrj commented on #480
@iopietro [Here's a video](https://youtu.be/Eze-obzfWVw). You can also go to my server and see it for yourself.

[2018-04-07 14:17] iopietro commented on #480
Thanks, i've understood now, it's not a bug, they're in a reversed order, lol.

[2018-04-07 14:24] kirilloid commented on #450
**Step 6:** rounded to the nearest multiple of 0.0002, formula should be

K = 1.326**8**

[2018-04-07 16:55] iopietro commented on #450
Ok, i modified the formula from:
[code]
To:
[code]
($involve = total units)

But there's still a very little difference (without bonuses):

![simulation2](https://user-images.githubusercontent.com/5269236/38457723-a86c4e84-3a94-11e8-916a-b66ccdd6ead2.JPG)
![simulation1](https://user-images.githubusercontent.com/5269236/38457724-a8879fe0-3a94-11e8-848d-e67cb19b7bb0.JPG)

**Infantry attacking points

[2018-04-07 18:37] kirilloid commented on #450
Yes, wanted to say about the mix of infantry and cavalry, should be round to 4 decimal places.
**Total defensive points** would be 1213418 rather than 1213417,7771152, total points are rounded to the nearest integer (that's obviously important for small values).
**Attacker final result** no need to rounded with `round(... , 8)` Doesn't really matter, though.

[2018-04-07 19:27] kirilloid commented on #450
Yes. I use a single expression with `min` function, but the logic is the same.
The trick is inverse value should be rounded. You might think about it as a handicap for attacker rather than moralebonus.

[code]

[2018-04-07 19:47] iopietro commented on #450
Nice, it works perfectly :)! Yes, it's a huge handicap in certain cases.
Yeah, there's a control which decides if it should apply or not the formula, this is the whole code:

[code]

[2018-04-07 21:39] iopietro commented on #450
I've another question, what is the formula which determines the new level of a building partially demolished by catapults?

For example (with no bonuses, no defenses, no losses):

10 catapults will bring a building from level 20 to level 18, how can i know that the new level must be 18?

[2018-04-08 08:37] velhbxtyrj commented on #480
This problem is fixed by this fix https://github.com/Shadowss/TravianZ/commit/d236a21d38ce710f514c36aad07b1f749956775d

[2018-04-08 09:14] velhbxtyrj commented on #512
Maybe it should be done in this form:
[code]

[2018-04-08 09:25] TerraSkye commented on #512
I thinl it should be refactored and taken these conditions in account.

The amount of different buildings thst have to been build before. And the total of levels that other buildings need.
And then sort all the buildings accordingly.
That way you always have the correct displayment

[2018-04-08 10:13] iopietro commented on #480
Yeah, sorry, i copied the previous SHA1, i meant d236a21.

[2018-04-08 10:13] #480 closed

[2018-04-08 10:25] iopietro commented on #512
@velhbxtyrj, Ok, i'll code it in the game.
@TerraSkye, This can be an idea, but someone should do a complete list with all the conditions.

[2018-04-08 10:30] velhbxtyrj commented on #512
I could try it if you say in what form it should be.

[2018-04-08 10:43] iopietro commented on #512
A building is shown in "Sho soon" if the sum of the actual required buildings level is greater than 45/50% of the total sum of required buildings level for building that building.

A building is shown in "Show more" if the sum of the actual required buildings level is greater than 45/50% of the total sum of required buildings level for building that building.

For example:

I've a level 2 Barracks

[2018-04-08 11:09] iopietro commented on #467
1) Fixed in 4b1481f .

[2018-04-08 11:14] velhbxtyrj commented on #512
I think it requires a deeper logic.

For example:

I have the Main Building of the 3rd level to build the Academy, I need the 3rd level barracks and the Main building of the 3rd level, so it will be shown in the "soon" because the sum of the required levels is 6, but the sum of the actual levels - 3 -> I have exactly 50% of the required levels.

We can build 50% of the total amount of two building

[2018-04-08 11:46] iopietro commented on #512
Ok, i agree with you, i like your algorithm :)!

[2018-04-08 12:27] velhbxtyrj commented on #467
After adding the link, the warning pops up only in the Preferences, after deleting the link, the warning disappears
[code]
![1](https://user-images.githubusercontent.com/21306412/38467394-774ff236-3b40-11e8-88b2-280a20e85c6d.jpg)
![default](https://user-images.githubusercontent.com/21306412/38467395-7a8d7fcc-3b40-11e8-8e8c-5f2515fa439a.jpg)

It is maybe possible to move the list of links to the ot

[2018-04-08 12:54] iopietro commented on #467
@velhbxtyrj Fixed in b5037e1. Where the links shold be located? Under the villages list? Also, i think that external links were not allowed in the T3.6 version: you can add any kind of links but only internal server links work.

[2018-04-08 13:09] velhbxtyrj commented on #467
Now the links are displayed under the news box that is not entirely convenient when there are many villages. It would be more convenient that they would be displayed on the other side of the page
![default](https://user-images.githubusercontent.com/21306412/38467844-6921c7ec-3b46-11e8-94a7-bffb9332512f.jpg)
Yes, I know what is the placement in the original T3.6 :)

[2018-04-08 13:38] iopietro commented on #467
Ok, i'll do it :).

[2018-04-08 16:31] iopietro commented on #467
@velhbxtyrj I did it in the  6ea4430 commit, let me know if you like it.
@TerraSkye Are you talking about the Newsboxes (I, II and III)?

[2018-04-08 16:32] iopietro commented on #449
Fixed in 6ea4430.

[2018-04-08 17:25] iopietro commented on #467
Oops, I've forgot to remove it from build.php.

Yeah, I'm resolving those warnings, by replacing $GLOBALS['link'] with $database->dblink, that is much more convenient.

[2018-04-08 17:44] velhbxtyrj commented on #467
I understand it is not necessary to write where are these warnings? Since I found a couple more.

[2018-04-08 17:45] iopietro commented on #467
Those errors are generated because you've links.tpl included which have a variable named $link that replace $GLOBALS['link'], I'm changing all $GLOBALS['link'] to $database->dblink for a future use and not only to resolve this variable conflict (that could have been resolved simply by changing the name of that variable).

[2018-04-08 17:47] velhbxtyrj commented on #467
Yes you are right :) I removed the links and all warnings disappeared :)

[2018-04-08 17:57] iopietro commented on #467
Yep, and it should be fixed with the latest commit. Try it (with atleast 1 link saved) and let me know if you find some errors of this type.

[2018-04-08 18:03] Shadowss commented on #518
Yeah , Italy is great country with may place to visit. I stay in my vacation of summer 2 weeks on Rimini / Ravena (Lido Adriano) , i travel 1600 km on Italy , go to Rome , visit all monuments and historical places , go to San Marino , Venice. Great country , great people. Ahh and i visit 2 days Mirabilandia Park , great place.

[2018-04-08 18:13] iopietro commented on #518
Of course :)! I love Italy too (Ok, i'm a little biased because it's my native country, lol), I love its food, its places, monuments, beaches and its amusement parks! Mirabilandia Park is great, Gardaland Park is great too :)!

[2018-04-08 18:37] velhbxtyrj commented on #467
Double links are still in the map, a review of the cell on the map and in all the tabs of the alliance. There were no warnings anywhere.

[2018-04-08 18:41] iopietro commented on #479
I agree with you, I removed those lines because they're not needed.

[2018-04-08 18:41] #479 closed

[2018-04-08 18:46] iopietro commented on #467
Ok, I removed them from the map and from the alliance, the problem with these "include("Templates/links.tpl");" is that they were in 20+ php files of the game, lol.

[2018-04-08 18:50] velhbxtyrj commented on #467
About the third error here, then I noticed that three times do not go if we set send for example 19 traders three times somewhere in one village, and that the remaining one merchant was sent to another or even first, it does not matter where, while the counter and gets lost.

[2018-04-08 18:51] velhbxtyrj commented on #467
Many thanks :)

[2018-04-08 18:54] iopietro commented on #467
Ok, I've added it to the big bugs list.

[2018-04-08 19:03] velhbxtyrj commented on #467
@iopietro I edited a few of these remarks and for me remained incomprehensible №2 and №7. If you know what this is all about, then maybe you should rewrite them and close this problem. As some are duplicated and some have already been eliminated.

[2018-04-08 19:05] velhbxtyrj commented on #479
If I'm not mistaken then there must be lines for the foundation of a new village. When it is established, there must be a redirection to a new village. But it is commented out.

[2018-04-08 19:25] iopietro commented on #479
Mmh, i don't think that redirecting to the new village is so necessary, even because it could be annoying.

[2018-04-08 19:28] iopietro commented on #467
The second could be a duplicate of #463 and i don't know what does he mean with the N° 7.

[2018-04-08 20:59] iopietro commented on #425
Fixed in 72fd81b69b22a2d22ff03011dce3999bf5cf567c.

[2018-04-08 21:37] iopietro commented on #217
It should be fixed in bdca64eed3c973a7cf4da0d4c3d8cb0b1d68b904.

[2018-04-09 07:52] velhbxtyrj commented on #467
Some more warnings

[code]

[code]

[2018-04-09 08:46] velhbxtyrj commented on #455
Retrieving your own artifacts is working. But there was a small problem :) The village after this is removed :) This should only happen with the villages of natar and not the players :)

![2](https://user-images.githubusercontent.com/21306412/38488279-9fb76cbc-3beb-11e8-92fd-235cfaa03782.jpg)

[2018-04-09 08:55] velhbxtyrj commented on #425
Yes it works. Villages are destroyed after the capture of the artifact.

[2018-04-09 09:59] iopietro commented on #455
What was the population of that village? If it was 0, then it's not a bug.

[2018-04-09 10:07] velhbxtyrj commented on #455
In the village there were not 0 population was 700+

[2018-04-09 10:47] iopietro commented on #515
I haven't coded it yet. Yes, that artefact effect is already coded, but the function which displays the type of attacking troop, if the rally point is greater than the total number of sent troops, is partially coded.

[2018-04-09 11:00] iopietro commented on #455
Yeah, i forgot to remove the point after adding it to other phrases.
The village is destroyed because the $pop var isn't set if no catas are involved in the attack, i'll fix it with the starvation fix.

[2018-04-09 11:05] velhbxtyrj commented on #217
I made a new server installation and put out the medals in 1 day. Tomorrow I will say the result.

[2018-04-09 12:02] iopietro commented on #217
You can change the value of "MEDALINTERVAL" (in config.php) to 2 or 3 hours if you want, 3600*Number of hours (7200 for 2 hours and 10800 for 3).

[2018-04-09 12:03] kirilloid commented on #450
https://wbb.forum.travian.com/thread/75248-combat-system-formulas/
See **3.a Catapults**

[2018-04-09 13:47] iopietro commented on #450
Thanks! Yeah, i saw that chapter, but I haven't thought about that formula.
Because your combat system simulator is the best external tool for simulating travian battles :)!
It could give errors for lower level buildings and stonemason/artifact, but it's much better than our previous formula (not the actual one that I've made, that works pretty good) that used to calculate square roots of negative

[2018-04-09 17:10] velhbxtyrj commented on #217
I changed the time to two hours. It's been five hours and no result.

![default](https://user-images.githubusercontent.com/21306412/38511813-09b006a6-3c32-11e8-9784-cb415609faa5.jpg)
![1](https://user-images.githubusercontent.com/21306412/38511814-09d0da84-3c32-11e8-9b48-94376be9bf7e.jpg)

[2018-04-09 19:10] velhbxtyrj opened #519 "Tooltips for server settings"
I offer for your consideration a few decorations for the admin panel: tooltips for server settings.
Who and what thinks about it?

![1](https://user-images.githubusercontent.com/21306412/38516096-da6eabce-3c3e-11e8-9249-c073f8a6059a.jpg)
![default](https://user-images.githubusercontent.com/21306412/38516098-da90a8fa-3c3e-11e8-8569-83bf2fafed73.jpg)

Some code:

[code]

[2018-04-09 19:13] iopietro commented on #519
I like it, it's a good idea :)!

[2018-04-09 19:24] velhbxtyrj commented on #519
Is the code here okay? If the code is okay then I'll do it.

[2018-04-09 19:33] iopietro commented on #519
I think that you should put that code in the main .css file (it should be compact.css).

[2018-04-09 19:34] iopietro commented on #490
It should be fixed in 9f0e0e9. It's the first part of a total refactor of the starvation.

[2018-04-09 19:35] #425 closed

[2018-04-09 19:35] iopietro commented on #455
Fixed that forgetfulness in 9f0e0e9.

[2018-04-09 19:37] iopietro commented on #475
Should be fixed in 0132af461145f714a7886f1c3d69a93fadc1168d. I'm gonna close this issue for now.

[2018-04-09 19:37] #475 closed

[2018-04-09 19:53] velhbxtyrj commented on #519
I know that. The main thing is that the code was not bad :) I'm asking about it :)

[2018-04-09 20:36] iopietro commented on #519
I know a very little of css, but it seems fine to me.

[2018-04-09 20:55] iopietro commented on #217
What is your "Lastgavemedal"? (in the config table of the database).

[2018-04-09 21:07] velhbxtyrj commented on #490
The troops still do not die during the attack. I will try it still locally but tomorrow.
And I noticed the oddness in the admin panel, during the attack in the granary there is always a rest of 30 crop. After the attack has passed this remainder is reset to 0.

![default](https://user-images.githubusercontent.com/21306412/38523075-1c112d86-3c53-11e8-8a40-5045f905ca18.jpg)

[2018-04-09 21:13] iopietro commented on #217
I know why it doesnt' work for you, because you installed your server with a 1 day medal interval, so you should get the first row of medals tomorrow (10/04/18 or 04/10/18) , at 14:56. Your "Lastgavemedal" should be around 1523364960 and 1523365019.

[2018-04-09 21:14] velhbxtyrj commented on #217
Here it is: 1523361484
But after I wrote the message, maybe it changed to this one, since I reconfigured the server a few hours ago and the delivery of medals was set one day.

[2018-04-09 21:15] iopietro commented on #217
![immagine](https://user-images.githubusercontent.com/5269236/38523436-c894baee-3c4b-11e8-9c96-25c5c862e054.png)

I was right, try to set your medal interval to 2 minutes and"Lastgavemedal" to 0 (to simulate a fresh installation).

[2018-04-09 21:27] velhbxtyrj commented on #490
I exhibited a different number of troops. From 100,000 to 200,000 and before the attack added a few crop to send an even number. Standing in the village they died without any problems, even the hero died.

[2018-04-09 21:38] iopietro commented on #490
Fixed in 01e1df74939699a4ce952649a118d840e340e659 (it was a little mistake caused by two similar column names --> "id" and "moveid").

[2018-04-09 21:42] velhbxtyrj commented on #217
This also seems to work. I have made: `define("MEDALINTERVAL",(120));` and set the lastgavemedal to 0, this is what happened:

![default](https://user-images.githubusercontent.com/21306412/38524645-01cd2150-3c58-11e8-91ad-1ac13413ffb1.jpg)

[2018-04-09 21:48] #490 closed

[2018-04-09 21:56] velhbxtyrj commented on #490
Stop) The troops go on the attack and die, but when they return home they do not die :)

[2018-04-09 21:57] iopietro commented on #217
Yeah, it worked, it should be fixed :).

[2018-04-09 21:57] iopietro commented on #490
Yeah, i know, i'll do it in the part 2 of the refactor :) (with trapped troops).

[2018-04-09 21:58] velhbxtyrj commented on #217
All the same, I want to check it tomorrow with a new installation)

[2018-04-09 22:00] velhbxtyrj commented on #490
Then it's good :) I sleep :) Good dreams ;)

[2018-04-09 22:04] iopietro commented on #490
Good night :)!

[2018-04-09 22:40] iopietro commented on #217
I've not understood, it worked or not?

[2018-04-10 06:40] Shadowss opened #520 "Christmas / Easter / New Year Message"
When you set one of this Peace time on Admin Panel  , System must send a message to all players like WW Winning to wish all the best and to know players some updates about accounts like :

1. Launched attack that arrive on the peace time won`t have any effect , just say best wish on the player.
2. Starvation will be inactive on the peace time.
3. Spy mission will have effect on the peace time.

[2018-04-10 06:43] Shadowss commented on #518
@velhbxtyrj : can you make some cleaning on the Issue Topics ? Close issue that is already solved or is not like real travian

[2018-04-10 06:47] Shadowss commented on #519
You can make the change.

[2018-04-10 08:55] agony09 commented on #518
I think it's great to see that things are moving forward with development. I am very happy and thank you very much to all who go to so much trouble.
I would like to remind you once again of an idea:

https://github.com/Shadowss/TravianZ/issues/401

Maybe it would be possible to implement this someday.
That would be very nice.

[2018-04-10 10:52] velhbxtyrj commented on #455
I'll take a look at it now

[2018-04-10 11:02] velhbxtyrj commented on #217
After making changes, the medals were issued within two minutes of what I wrote above. But still I want to check it again with the new installation. I will close this problem after one day :)

[2018-04-10 11:28] velhbxtyrj commented on #455
Works good!)

[2018-04-10 11:28] #455 closed

[2018-04-10 11:30] velhbxtyrj commented on #518
@Shadowss As far as possible, I do it.

[2018-04-10 11:32] Shadowss commented on #518
![hack](https://user-images.githubusercontent.com/1140613/38554614-ec77faea-3ccb-11e8-9a74-e6fdcf37b6b3.png)
Wtf ? :))

[2018-04-10 11:35] velhbxtyrj commented on #518
It was a search for possible security problems)

[2018-04-10 11:39] velhbxtyrj commented on #496
As for me, this is a duplicate of this: #253

[2018-04-10 11:40] velhbxtyrj commented on #496
@iopietro What can you say about this problem?

[2018-04-10 11:41] Shadowss commented on #518
![battle](https://user-images.githubusercontent.com/1140613/38554947-2070d190-3ccd-11e8-9c5f-1bbfa530dd1f.png)
Enter on your account and post the report. I`m curious if battle system works fine

[2018-04-10 11:46] velhbxtyrj commented on #518
Have you updated the code on the server? As for me, this system works fine already :)

All troops with improvements at level 20

![default](https://user-images.githubusercontent.com/21306412/38555164-d3a4c320-3ccd-11e8-8578-e625d49b3088.jpg)

[2018-04-10 11:47] Shadowss commented on #518
Yes of course

[2018-04-10 11:47] iopietro commented on #217
Ok :)

[2018-04-10 11:51] velhbxtyrj commented on #518
And now the question about the capture of the artifact the village of Natar. I reread a lot of data and everywhere it is written that the village the natars should disappear after the capture of the artifact, in some sources it is written that the village should turn into an oasis. Who that thinks about it. I mean the village is not with 0 population, but 1+

[2018-04-10 11:52] iopietro commented on #518
@Shadowss yeah, "Hacked by iopietro" was a test for searching security issues that I've resolved in a later commit.

[2018-04-10 11:54] Shadowss commented on #518
@iopietro : ahh ok no problem
@velhbxtyrj : must repeat the attack with you heaving this artefact :

The architects unique secret
--
All buildings in the area of effect are stronger.  This means that you will need more catapults to damage buildings  protected by this artifacts powers.
Natars
Hemons Scrolls
 
account
building stronger with (5x)
Treasury Level 20
2018-02-01 11:37:57
Active

[2018-04-10 11:58] velhbxtyrj commented on #518
@Shadowss This artifact should not bear the impact on the very wonder of the world. Only on other buildings.

[2018-04-10 12:00] Shadowss commented on #518
Wrong ! Artefact makes effect also on Word of Wonder

[2018-04-10 12:01] velhbxtyrj commented on #518
![default](https://user-images.githubusercontent.com/21306412/38555737-f272c336-3ccf-11e8-88a8-1cdbe264ef7a.jpg)

[2018-04-10 12:02] Shadowss commented on #518
Hmmm, from where is this pictures ?

[2018-04-10 12:04] velhbxtyrj commented on #518
http://t4.answers.travian.com/?aid=90#go2answer
http://travian.wikia.com/wiki/Artifacts

[2018-04-10 12:06] Shadowss commented on #518
Ahh understand , only that artefact not affect WW

[2018-04-10 12:13] iopietro commented on #518
@velhbxtyrj, I don't know, but destroying the village after the  capture of the WWuilding plan sounds more logical to me.

[2018-04-10 12:15] Shadowss commented on #518
@iopietro : maybe you make a map on admin panel with artefact distribution like i post

[2018-04-10 12:25] velhbxtyrj commented on #518
@iopietro @Shadowss Look at this text on this link: http://travian.wikia.com/wiki/Artifacts

**Release**
- The exact time for releasing artifacts is different for each server and is determined by the admin. It is usually around halfway through the server duration. The exact time is published to all players beforehand for preparation.
- When released, each artifact is kept in a Natarian village who

[2018-04-10 13:53] Shadowss commented on #518
I update my first post.

[2018-04-10 14:18] iopietro commented on #496
Yeah, it's a duplicate of your issue, I haven't tried to fix it yet. At this moment, i don't know what causes this issue.

[2018-04-10 14:25] iopietro commented on #518
@velhbxtyrj, Our bugs/improovements lists are in the first message of Shadowss, we should remove them from our messages, to not have duplicates.

[2018-04-10 15:12] fritz-net opened #521 "graphic pack changable"
on the test server a new graphic pack is rolled out. Is there an option to change it back to the original 3.6 optics? If not it would be nice if the user could configure one like in the real travian versions long time ago. I think t4 does not fit well in the overall design.

Which version is currently running on the test server? is this an instant deploy? or was only the graphic pack updated?

[2018-04-10 15:15] Shadowss commented on #521
It's just for test. Will be changed back. This 8s not an issue

[2018-04-10 15:15] #521 closed

[2018-04-10 15:16] Shadowss commented on #518
Great . Can you do that? I am not on the pc

[2018-04-10 15:42] iopietro commented on #518
Deleting the lists or making the map?

[2018-04-10 15:44] velhbxtyrj commented on #518
I wanted to suggest this in order to unite everything in one message. I also want to suggest integrating all the new functions in one message, like this: #472

[2018-04-10 15:47] fritz-net commented on #521
Ok, nice to know. So only the graphic pack was updated? or is this continuously deployed?

[2018-04-10 16:07] velhbxtyrj commented on #518
I will add a little to my previous message. 1. In one issue, combine all the bugs (which has already been done). 2. In another issue, combine all the innovations that do not relate to this version and must be customizable through the admin panel (enable / disable this or that new mechanics). 3. In the third issue all for spam that would not clog the first and second points :)

[2018-04-10 17:04] iopietro commented on #518
I like 2. and 3. ideas :)!

[2018-04-10 19:13] agony09 opened #522 "Peace Mode dosnt work"
I am testing this script.
The Peace Mode in config.php dosnt work.
// ***** Peace system
// 0 = None
// 1 = Normal
// 2 = Christmas
// 3 = New Year
// 4 = Easter
define("PEACE",0);
For exemple:  "PEACE",4 (Easter)
I can still start a robbery.

[2018-04-10 19:43] velhbxtyrj commented on #522
This will be displayed in the report with the corresponding message.

[2018-04-10 19:52] agony09 commented on #522
Thanks for the answers. I will test it.
Maybe it would be an idea, if it would be displayed somewhere in the game, on which mode the game is currently. For the players to know if it is e.g. is in Easter mode. Before sending troops.

[2018-04-10 20:00] velhbxtyrj commented on #522
See this issue #520

[2018-04-10 20:38] velhbxtyrj commented on #519
Please tell me what the "Evasion Speed" and "Tourn Threshold" parameters mean in the settings.
And as I understand that the parameter "Natars Units Multiplier" is not implemented? Does it mean how strong will the troops of Natar be in the villages?

[2018-04-10 22:12] iopietro commented on #519
Evasion speed: the time your troops spend to return home after an evasion.
Tourn Threshold: the total square after the tournament square begin to work (20 squares is the default value).
Natars Units Multiplier: it's used as a troops multiplier while creating Natars (through the "create_account.php" file).

[2018-04-10 22:48] eliopinho commented on #490
You are doing a great job friend 👍

[2018-04-11 05:56] #522 closed

[2018-04-11 06:53] Shadowss commented on #518
Ok this is the pictures for PEACE SYSTEM

![christmas](https://user-images.githubusercontent.com/1140613/38600829-3ea9f3b6-3d6e-11e8-8f50-1cae91d0eaf8.jpg)
![easter](https://user-images.githubusercontent.com/1140613/38600830-3ec9d4ba-3d6e-11e8-963f-8450cd723fb7.jpg)
![new year](https://user-images.githubusercontent.com/1140613/38600831-3eec0710-3d6e-11e8-8ce0-b3e46ab8690b.jpg)

[2018-04-11 08:11] velhbxtyrj commented on #519
Having looked at this file, I saw only that this parameter affects the number of sent scouts of the natars
[code]
The number of warriors created in the villages of Natars depends on the speed of the server:
[code]
[code]

[2018-04-11 09:01] Shadowss commented on #518
Ok another things on the artefacts problem.

You must have ONLY 1 ARTEFACT with account effect and other 2 with village effect.

 At any one time each player is only allowed to use a maximum of three artefacts, of which only one can have an account or unique scope. Players may however hold more than 3 artefacts but only the 3 oldest artefacts will be used. To hold more than 3 artefacts, additional

[2018-04-11 09:08] velhbxtyrj commented on #518
@Shadowss As I understand, now work all artifacts together? For example, if we have two unique artifacts, do they both work?

[2018-04-11 09:09] iopietro commented on #519
It's wrong then. It's not a problem though, Natars troops spawn will be reworked soon, their spawn will be based of top 100 best mains in the server.

[2018-04-11 09:10] Shadowss commented on #518
![artefacts](https://user-images.githubusercontent.com/1140613/38607424-429992c0-3d81-11e8-94ee-b99a73e24a4a.png)

[2018-04-11 09:12] iopietro commented on #518
Yeah, the artifact acrivation system needs to be reworked from scratch. They're now activating immediately after the conquest, with no limiting rules.

[2018-04-11 09:14] Shadowss commented on #518
Ahh yeah 24 hours. Maybe after resolve all this major bugs we can make a BETA release of 8.3.4

[2018-04-11 09:14] velhbxtyrj commented on #519
So it does not make sense to write tooltips for this Natars Units Multiplier since it will be deleted?

[2018-04-11 09:40] velhbxtyrj commented on #519
So the question about the Evasion Speed. According to the standard, this is equal to 1. Ie if the player puts time 1 this equals one minute (in the attack the troops will be missing one minute). If we put 2 in the admin panel and the player sets 1 minute, will it be 2 minutes or 30 seconds (in the attack the troops will be missing 2 minutes or 30 seconds)?

[2018-04-11 13:12] iopietro commented on #518
Yep, we can do it!

[2018-04-11 13:13] iopietro commented on #518
Lol, sorry, i missclicked.

[2018-04-11 14:18] fritz-net commented on #518
* Units are more often than 1 time in Village Overview

![image](https://user-images.githubusercontent.com/2499282/38622556-b4d9e4da-3da3-11e8-895b-94d14808ee44.png)

* If there are many many many reports the selector pages do not work (Error 500) when using the GET `t` parameter

[2018-04-11 14:37] Shadowss commented on #518
![troops](https://user-images.githubusercontent.com/1140613/38623687-f40aecde-3dae-11e8-8108-9368cfa8d61f.png)
Yeah , I can confirm

[2018-04-11 15:59] iopietro commented on #518
Added to the list.

[2018-04-11 16:08] phaze1G commented on #518
I'll make CSS + clean image with photoshop for:
_Add a message when you release artefacts see this_

The only thing you gonna add is a text

[2018-04-11 16:33] phaze1G commented on #518
@iopietro do you have a text in English which should be there?

[2018-04-11 16:55] iopietro commented on #518
Yeah, you can use the text written by shadowss about 14-15 comments ago.

[2018-04-11 17:06] velhbxtyrj commented on #518
The text must be added directly to the code itself, so that it would be possible to translate into different languages.

[2018-04-11 17:47] agony09 opened #523 "Correct the injustice?"
On test servers, I've always found that it can be very difficult for new players to build something in the game. And to improve.
A new player who starts building a village that is constantly attacked by the TOP 10 players has no chance. Again and again he loses his soldiers and buildings. If he is constantly attacked. I know there is a protection mode for the first few hours. But that helps a litt

[2018-04-11 17:57] velhbxtyrj commented on #523
Please use the search for issue #369

[2018-04-11 17:57] #523 closed

[2018-04-11 18:03] agony09 commented on #523
Okay, thanks for the hint.
In this case something has been done or planned ?

[2018-04-11 18:03] iopietro commented on #518
I agree, the text should be hardcoded into a constant (in en.php).

[2018-04-11 18:08] velhbxtyrj commented on #523
So far nothing has been done.

[2018-04-11 18:11] agony09 commented on #523
ok thanks.
and this idea is not interesting?

[2018-04-11 18:13] velhbxtyrj commented on #523
You can write your suggestions in the issue I indicated to you. Simply, you created a duplicate of what was already mentioned ;)

[2018-04-11 18:33] eliopinho commented on #523
look, i understantd you..
but keep in mind that the whole game is very very much than that..
if a tiny player comes in, and have no chance to fight a big empire, he has to work in alternatives, like alliance with other player of the same size..
the beauty of this game his the hundreds of choices you got to make to win, or be in the winning side!

please do not go porpose makes change to the game.

[2018-04-11 20:07] velhbxtyrj opened #524 "New mechanics and functions for TravianC (Travian Crazy) and refactoring"
- [ ] Christmas / Easter / New Year Message #520
- [ ] Displaying the type of attacking troops at the rally point #515
- [ ] Avaliable buldings to construct #512
- [ ] Feature Gold #511
- [ ] Database Migrations #477
- [ ] New mechanics of capturing artefacts #472
- [ ] The instruction (manual) contains information for the server speed x1
- [ ] Messages on Alliance diplomacy relations #407
- [ ] M

[2018-04-11 20:13] velhbxtyrj commented on #524
@iopietro @Shadowss In this issue I collected everything that was labeled by the label "enhancement". Some problems are duplicated with the previous open problem of bugs. Something like this :)

P.S. I think it will be easier to see all that is open at the moment in all issue.

[2018-04-11 21:28] velhbxtyrj commented on #518
Good job, thank you :)

[2018-04-11 21:29] iopietro commented on #524
Nice, great job :)!

[2018-04-11 21:30] iopietro commented on #518
Thanks a lot :)!

[2018-04-11 21:39] phaze1G commented on #518
The link color is _#800000_ <a href="/link"><font color="#800000">» Continue</font></a>

[2018-04-11 21:47] velhbxtyrj commented on #524
@iopietro Pay attention to this issue #402. I guess that it is already implemented?

[2018-04-11 21:52] iopietro commented on #524
Yes, i already fixed it in a previous commit, i forgot to mark it as closed.

[2018-04-11 21:56] #402 closed

[2018-04-12 04:55] Shadowss commented on #518
Must to be implemented like an automatic message. Shoud be looks like winner.php

[2018-04-12 06:41] TerraSkye commented on #518
making some good progress guys!

[2018-04-12 10:43] iopietro commented on #518
@Shadowss, I already have in mind something about that.

[2018-04-13 01:43] Dayran opened #525 "Can this anchor ip option be integrated into the accounts ???"
there is a possibility that when you create the account in the travian is anchored to an ip, and then when you go to create another account with that ip do not leave, I say that to avoid multi accounts or you get a poster or something may be

[2018-04-13 06:27] iopietro commented on #525
Yes and not, nowadays nobody has a static IP, so you can easily restart your router/use a proxy to change your IP.

[2018-04-13 07:00] Shadowss commented on #518
@iopietro : can you implement this code in an automated message ?

`<div id="art_container">
    <img id="art_image" src="https://i.imgur.com/Wsf6BdN.png"/>
    <p id="art_text">
<span class="art_title">Natars Artefect</span>
     <br><br>
   Whispering rumors echo through the villages, sharing legends told only by the best storytellers. It refers to NATARS, the most feared warrior of the TRAVIAN

[2018-04-13 09:14] iopietro commented on #518
I'll do it in the Natars automatic system

[2018-04-13 09:30] Shadowss commented on #518
Yeah , it`s a good. But also must to create automated message like WW winning.

[2018-04-13 10:12] eliopinho commented on #525
And not forget the public Wifi (sometimes we have friends want play in our server)

Perhaps using mail activation is best way (oficial travian) , require normal user to create multiple mail accounts (is a pain in the ass for the user)

[2018-04-13 10:39] velhbxtyrj commented on #518
It's clear. But sending an automatic message is another issue :)

If my proposal is suitable for the output of information about the peace system, I will implement it.

[2018-04-13 11:35] iopietro commented on #518
@velhbxtyrj, Yes, it can be a solution for that problem, it's a good  idea, you can implement it if you want.

[2018-04-13 11:51] phaze1G commented on #518
If you have more work for CSS or editing images I can assign myself to it.

[2018-04-13 11:54] velhbxtyrj commented on #519
@phaze1G Can you take a look at the code specified in the first message?

[2018-04-13 12:27] fritz-net commented on #525
Usage of invite codes could limit multi accounts on private servers

On public servers there is no way to prevent this. For example I have a wildcard mail address so there is no pain in writing a bot for making an activating accounts

[2018-04-13 12:37] phaze1G commented on #519
I checked and it's good.

I did CSS for @Shadowss request in 2 posts above.
http://jsfiddle.net/EgLKV/9539/

[2018-04-13 12:47] velhbxtyrj commented on #519
I'm thinking about what could remake the CSS for something more colorful. Maybe you can suggest something for this.

And in occasion of that that has offered @Shadowss that I think that it will look absolutely on another. This was taken from T4+ and there the withdrawal of troops works only for the capital. In our code as far as I understand it works for all villages.

[2018-04-13 13:08] phaze1G commented on #519
@velhbxtyrj I don't like colorful things. I'm always sticking to 1-3 colors which are just small variants of the first one. for the tooltip maybe making it transparent and smaller?

http://jsfiddle.net/EgLKV/9553/

[2018-04-13 14:07] eliopinho commented on #524
well this is a good prespective.

but i think in my opinion this "travianC" must be an option in the install, like travian official quest vs travianZ quest.

also i think in first rule must be fix all "oficcial" game bugs and associate all translations to one file, for the other people like me for example, can translate the whole game into native languages and add here to be included in this versi

[2018-04-13 14:33] Dayran commented on #525
theme is that it is to play by lan with friends and do multi accounts to gain advantage as passing recueros since there is no limit or put a limit on resources that can be passed and you can not use email

[2018-04-13 14:47] eliopinho commented on #520
![message](https://user-images.githubusercontent.com/5437151/38741435-d8985d18-3f31-11e8-9e41-734ae2f324e8.jpg)

i make this if you want alternatives :)

[2018-04-13 14:52] eliopinho commented on #518
![message](https://user-images.githubusercontent.com/5437151/38741765-96f7a462-3f32-11e8-90ee-20149b1ae3f4.jpg)

i make this if you want alternatives for classic style messages

[2018-04-13 15:08] iopietro commented on #524
@eliopinho @velhbxtyrj, Yeah, I agree, new functions should be separated from bug fixing, that's why I'll first try to fix all bugs of this version and then start to add new functionality to the game (and the admin of the server will be able to choose what functionality activate and what not).

Current "road map":
1) Fix all bugs of this version.
2) Completely refactor the game with OOP and maybe

[2018-04-13 15:10] iopietro commented on #525
In the future, there will be a system for limiting resources sent (and maybe raided) through two accounts.

[2018-04-13 15:15] velhbxtyrj commented on #524
So I'll do it today. Then we will have the information even clearer.

[2018-04-13 15:25] iopietro commented on #524
Thanks :).

[2018-04-13 15:27] velhbxtyrj commented on #524
I just do not remember about the vacation mode. Was it implemented in T4+? Transfer it to refactor or leave it in bugs?

[2018-04-13 15:31] Dayran commented on #525
Thanks to you

[2018-04-13 15:38] iopietro commented on #524
If i remember correctly, it wansn't in the T3.6 version, they introduced it in the T4.2/T4.4, you can transfer it.

[2018-04-13 15:53] velhbxtyrj commented on #317
@iopietro Pay attention to this issue. I suspect that it can be closed?

[2018-04-13 16:17] velhbxtyrj commented on #524
I hope that I transferred everything to the places where it should be.

[2018-04-13 16:24] phaze1G commented on #518
@eliopinho I made a CSS container for the provided image. Thanks for that image.

http://jsfiddle.net/phaze1G/EgLKV/9568/

[2018-04-13 16:37] velhbxtyrj commented on #491
@eliopinho Did you still have these errors?

[2018-04-13 16:38] velhbxtyrj commented on #494
@eliopinho Did you still have and these errors?

[2018-04-13 16:40] iopietro commented on #518
Nice works guys :)!

[2018-04-13 17:17] eliopinho commented on #494
well, to answer honestly i do not know..

this and the #491 should be rellated. but i cant reproduce them..

a couple months ago i run a small server with 10 friends at 5x speed.
after normal playing those erros start happen, i do not know if by hacks, bugs or errors in database..

since @iopietro have made a lots of changes on the code i do not know if those errors happen again..

i remember that

[2018-04-13 17:25] velhbxtyrj commented on #491
And some others have also been fixed. I crossed them.

[2018-04-13 17:59] fritz-net commented on #525
why not use invite codes or lock registration (after some time) ... as workaround you could simply delete the file for registration

[2018-04-13 19:50] iopietro commented on #525
If you want registrations can be disabled from the config.php file

[2018-04-14 06:36] Shadowss commented on #518
Great , but can you modify the photo with something more appropriate by artefacts ?

[2018-04-14 14:14] eliopinho commented on #518
![artifacts-message2](https://user-images.githubusercontent.com/5437151/38769179-8852f672-3ff6-11e8-9e53-af549d113579.jpg)
![artifactsmessage](https://user-images.githubusercontent.com/5437151/38769180-88702648-3ff6-11e8-8a1c-8d0e6b7b6c39.jpg)
![artifactsmessage3](https://user-images.githubusercontent.com/5437151/38769181-8897af2e-3ff6-11e8-8d62-b6fee93fbf78.jpg)

[2018-04-14 16:54] phaze1G commented on #518
The second one is the best.

[2018-04-14 18:31] eliopinho commented on #518
![artifactmessage](https://user-images.githubusercontent.com/5437151/38771387-5c1b3884-401a-11e8-95f2-06599cc08b14.jpg)

another :)

[2018-04-15 14:28] iopietro commented on #276
Messages to the whole alliance can be sent by writing [ally] in the subject.

[2018-04-15 14:28] #276 closed

[2018-04-15 14:29] velhbxtyrj commented on #276
I agree. And it works.

[2018-04-15 14:36] velhbxtyrj commented on #518
@iopietro Perhaps this need to be removed?
https://github.com/Shadowss/TravianZ/blob/600c762c8e723c86e3c1e9b82a333fb5e54ba98e/Templates/menu.tpl#L106

This is displayed in row 69

[2018-04-15 14:45] iopietro commented on #518
Yep, removed.

[2018-04-15 15:02] velhbxtyrj commented on #518
Some warnings:

[code]

During the peace, the target as a multihunter
![1](https://user-images.githubusercontent.com/21306412/38779825-763ba048-40d6-11e8-954d-2ed837f5ffd1.jpg)

When you click on a link displays warning

![2](https://user-images.githubusercontent.com/21306412/38779860-006d08f6-40d7-11e8-80a0-d87e357b3970.jpg)

[2018-04-15 15:26] iopietro commented on #518
@fritz-net, Fixed your bug in 559ac720a2ec0f2562238849a28c6e7c393f4f22.

[2018-04-15 15:27] iopietro commented on #518
@velhbxtyrj, Because 22x doesn't exist, I think we should also reduce the number of files in the notice folder and do a reports rework, because 90% of files in that folder, are equal to each other.

[2018-04-15 15:35] velhbxtyrj commented on #518
But I think this is most likely an incorrect redirect. Because it should redirect to this kind of report.

![default](https://user-images.githubusercontent.com/21306412/38780209-b6393e62-40db-11e8-8c99-6f41f40b816e.jpg)

[2018-04-15 16:46] iopietro commented on #518
Yes, that's an incorrect redirect, what's the type number of that report?

[2018-04-15 16:51] velhbxtyrj commented on #518
@iopietro But notice one more thing. Incorrect display of information on whom the attack was performed. I attacked another player. And the statistics shows a multihunter.

[2018-04-15 17:31] iopietro commented on #518
Yeah, that's another bug.

[2018-04-15 17:54] velhbxtyrj commented on #518
Perhaps these warnings also arise due to the fact that the wrong conclusion in the statistics?

[2018-04-15 17:59] iopietro commented on #518
I don't think so, it's only a redirect to an not-existent file

[2018-04-15 21:39] iopietro commented on #518
@velhbxtyrj, I fixed the first bug in 8dd8fc236415fda24340f4cd9c77dff4c34f360b , for the second one I need to rework all reports.

[2018-04-16 05:14] velhbxtyrj commented on #518
I made a copy of the file 22.tpl and called it 22x.tpl. And everything works as it should. Maybe this is the solution to the problem?

[2018-04-16 06:02] velhbxtyrj commented on #518
So is another problem. If the player is without an alliance or is in another alliance, then the report in the statistics of the alliance attacks and in the statistics of attacks on the village is one, if the player is in our alliance then the record is duplicated. One is displayed correctly and the second without dates and with information about what the Multihunter attacked an unknown village.

T

[2018-04-16 10:27] fritz-net commented on #518
@iopietro, thx for fixing this ... I also noticed, that in `dorf3.php` the top most village is always highlighted not the active one

[2018-04-16 13:59] iopietro commented on #432
Fixed in e6449d20c6dec7178396baab90d21742b147239d.

[2018-04-16 17:43] velhbxtyrj commented on #518
Scouts show Gauls Cranny places the same as the Cranny of Romans and Teutons. Gauls Cranny more than twice.

[2018-04-16 18:00] iopietro commented on #518
@velhbxtyrj Fixed in de8859da03646cec14c6d8b404e676c637c66a4f.

[2018-04-16 18:08] iopietro commented on #518
@fritz-net Fixed in bd38ac7fd8861cbcd46348ed386c1ccc8d8420c7.

[2018-04-17 13:33] agony09 opened #526 "Constructing with master builder function"
I noticed, when using the "Constructing with master builder" function, that this job will not be executed until you enter the village again.
Example: In the evening I give the order to expand 2x the main building, plus 1 x Constructing with master builder. When I enter the village the next morning, the first two jobs are already done. But the job with Constructing with master builder starts then a

[2018-04-17 15:07] #526 closed

[2018-04-17 17:09] iopietro commented on #518
@eliopinho, Fixed in bf091c2a0ce917cbc1fffcb5eeaca11365fb01ea.

[2018-04-17 17:54] eliopinho commented on #518
thks a lot

[2018-04-18 13:59] agony09 commented on #526
thank you for the information.
I tested it again. 4 hours ago I gave up a construction contract with "Masterbuilder". Now (after 4 hours) I have re-entered the game. And now, only the Master Builder has begun to work. I have tested this with 2 villages. But there are now 4 players online.

[2018-04-18 14:07] eliopinho commented on #526
@iopietro will be possible add a "cronjob" for those features?!?

[2018-04-18 15:04] Shadowss commented on #518
Great , thanks a lot for all.
We are almost there , we are a half road on that section.

Maybe you can try to fix General building bugs and Artefacts next. But you know better what is next. It`s just an ideea

[2018-04-18 17:52] iopietro commented on #518
First I'll rework the report system, there are too many duplicate files in the notice folder, I'll delete about 80% of them. Then I'll move into fixing artefacts and after general building bugs.

[2018-04-18 17:55] iopietro commented on #526
The problem is that not all hosting services have the possibility to add cronojobs. We'll see other solutions in the future.

[2018-04-20 04:57] Shadowss commented on #518
Huston we have a problem.

I attack @velhbxtyrj World of Wonder , the reports is correct but not counted in TOP 10.

![report](https://user-images.githubusercontent.com/1140613/39031370-66c0dfb4-4470-11e8-8e01-f57df23a6863.png)
![top10](https://user-images.githubusercontent.com/1140613/39031372-6a7c84c8-4470-11e8-8624-c49dd99ec105.png)

[2018-04-20 04:59] Shadowss commented on #518
Another problem in PARADISE , when hero died , and enter in Admin panel to revive in here :

![hero revive](https://user-images.githubusercontent.com/1140613/39031428-b6a725e2-4470-11e8-9512-4d3fa401592b.png)

And press revive , nothing is happened. Hero must to revive in the CAPITAL.

[2018-04-20 05:27] velhbxtyrj commented on #518
Not included are attack points

![default](https://user-images.githubusercontent.com/21306412/39032083-a26d83e2-4474-11e8-9b9c-8d183cef14fb.JPG)

[2018-04-20 06:48] Shadowss commented on #518
New bug added in Artifact Section :

Any player may only capture 1 artefact with an unique or account scope. Any player may only capture up to 3 artefacts "at once".
Players may own more than one unique/account artefact resp. more than 3 artefacts in total
by conquering. Only 3 artefacts are active out of which only 1 can be unique or have an account wide effect. In case there are 2 account wide e

[2018-04-20 09:27] iopietro commented on #518
I'll look into it, the problem with Automation.php (and in particular, the function "sendunitsComplete") is that it's very huuuuuge. Automation.php has about 7k lines of code and sendunitsComplete 2k, that's very bad because the maintanability is very low, so if I change something significant in the code, I risk to break everything, lol.

[2018-04-20 09:56] velhbxtyrj commented on #518
Need to look in your last change. This is due to reports. I just reloaded all the old files on the hosting and everything works :)

[2018-04-20 11:00] iopietro commented on #518
Yep, I fixed it internally, I'll push the commit in later today, with the report refactor part 2.

[2018-04-20 15:33] narrita opened #527 "offers market [N4RR4]"
1. expected behaviour
you can not bid resources without entering values

2. incorrect behaviour
offers 1 type of resource without introducing values and shows you that the merchant says 0, when you cancel it gives you resources and so you can fill the stores whenever you want

3. the operating system & version
win7 , debian server
4. PHP version on the server
any kind of version
5. MySQL / MariaDB

[2018-04-20 16:15] narrita commented on #527
i use https://github.com/Shadowss/TravianZ

but at http://travian.shadowss.ro/login.php there is no such this error

I  going to download the version again and try again

I need some help from you because the game shows high indexes of calculate ms

[2018-04-20 16:39] velhbxtyrj commented on #527
If you downloaded the code more than 5 days ago there was still this error. On this site http://travian.shadowss.ro the code is updated today so there is no such error.

[2018-04-20 17:07] narrita commented on #527
@velhbxtyrj  Parse error: syntax error, unexpected '[' in Travian\GameEngine\Market.php on line 256

[2018-04-20 17:25] velhbxtyrj commented on #527
Most likely not all files have been replaced as needed. Did you dump all the files on the hosting with a replacement?

Try again with all the files completely replaced.

[2018-04-20 17:32] narrita commented on #527
I install the new travianz in its entirety do not replace files or restore saves. It was new installation using:

xampp-win32-5.6.34-0-VC11
PHP / 5.6.34
win7 64bits

please be calm with me I've been in this for several weeks

[2018-04-20 17:54] velhbxtyrj commented on #527
Yes you are right. I used php 7.0 so there was no such error. At php 5.6 it is available.

[2018-04-20 18:08] velhbxtyrj commented on #527
@iopietro please pay attention to this.

`Parse error: syntax error, unexpected '[' in /home/u997437127/public_html/GameEngine/Market.php on line 256`

This error only occurs on php 5.6

[2018-04-20 18:16] iopietro commented on #527
Damn, apparently ([$var1, $var2, $var3])[$index] can't be done in PHP 5.6

[2018-04-20 18:31] narrita commented on #527
ok them install php 7 :)

[2018-04-20 19:01] eliopinho commented on #527
@iopietro we all should use recent php on servers, no old ones.. theres no need to backport to older versions :)

[2018-04-20 19:05] iopietro commented on #527
Yeah, I only need to see if free hostings supports PHP 7.

[2018-04-20 19:06] iopietro commented on #527
@narrita, You gave me an idea, we should create a TravianZ Discord server!

[2018-04-20 19:09] velhbxtyrj commented on #527
@iopietro If I understand correctly, then pshp 5.6 will cease to be supported after 8 months? http://php.net/supported-versions.php

[2018-04-20 19:16] iopietro commented on #527
Yes, it's correct, that's why we shouldn't support PHP 5.6 anymore.

[2018-04-20 19:29] iopietro commented on #518
Fixed in c2f4d43b7ef435133ef67ae90df09fd988ed7902.

[2018-04-20 19:29] velhbxtyrj commented on #527
Then it may make sense to change the entry in README.md with PHP 5.6.32+ on PHP 7.0+

[2018-04-20 20:15] iopietro commented on #527
Yep, I've seen that about 80/90% of free hostings support PHP 7.0+, so I'll change the readme.

[2018-04-20 20:29] velhbxtyrj commented on #527
I myself use free hosting on php 7.0 ))

[2018-04-20 21:02] velhbxtyrj commented on #518
During the attack on Natars. This is due to the destruction of targets by catapults.

[code]

![default](https://user-images.githubusercontent.com/21306412/39073679-3f75c14a-44f7-11e8-9fa2-ae0a38d251a2.jpg)

[2018-04-21 11:36] iopietro commented on #518
Should be fixed in 970387342a7f8603992ed8709dfae3d13fab0e05.

Another thing, I don't think that "duplicated reports in the alliance" is a bug, because if i remember correctly it was present in the original travian.

[2018-04-21 11:38] Shadowss commented on #518
Yes it's in the original version

[2018-04-21 11:39] iopietro commented on #518
Ok, so I'll remove it from the bug list.

[2018-04-21 11:50] velhbxtyrj commented on #518
Please watch this [video](https://youtu.be/j1mxOh2474A).

[2018-04-21 12:01] iopietro commented on #518
Ok, I miserunderstood, I thought you meant another thing, I'll fix that.

[2018-04-21 12:02] velhbxtyrj commented on #518
I also thought that you thought about where the sword and shield are displayed ) so I decided to show it visually )

[2018-04-21 14:44] narrita commented on #527
@iopietro  @velhbxtyrj

The market error still works
offers the exact amount that 1 merchant carries
after you offer 1 x 2 exactly and when you cancel that offer it gives you the amount of resources you bid in the 1st offer
example so that they understand me

1st offer 1500 clay x 1500 wood
2nd offer 1 of clay x 2 of wood

when you cancel the 2nd offer you receive 1500 clay instead of 1 clay.

reg

[2018-04-21 15:32] iopietro commented on #518
Fixed in 996f0116665ae71e417be2472ec832d10d21bf37.

[2018-04-21 15:33] iopietro commented on #527
That's a different (and pretty huge) bug, I'll look into it.

[2018-04-21 15:54] iopietro commented on #527
Fixed in e9def19bd95d8fb6b6726585892b9d8c8f1098b3.

[2018-04-21 15:54] #527 closed

[2018-04-21 18:04] iopietro commented on #467
5) Fixed in daa7f0fdf4414ba71cc0d0e8a25bf3405c02cd2b.

@velhbxtyrj I fixed those warnings in 15-20 commits later (I don't remember), I forgot to write here about that, lol.

[2018-04-21 18:12] velhbxtyrj commented on #467
I remember this ;)

[2018-04-21 18:35] iopietro commented on #463
Fixed in 13e21d66e19b846c0d814b01bfedad6fa6afa0fa.

[2018-04-21 18:35] #463 closed

[2018-04-21 18:37] iopietro commented on #467
2. and 3. Fixed in 13e21d66e19b846c0d814b01bfedad6fa6afa0fa.

[2018-04-21 18:39] velhbxtyrj commented on #467
I do not know anything about the last error №7.

[2018-04-21 18:42] iopietro commented on #467
Me too, i could add a control to not add negative troops in training.

[2018-04-21 18:43] velhbxtyrj commented on #467
Perhaps this will be enough. I just never had such a mistake (

[2018-04-21 18:46] iopietro commented on #467
Yeah, and I don't know how to reproduce it. I looked at the code and there's already a sort of control to prevents training of negative units.

[2018-04-21 18:48] velhbxtyrj commented on #467
I think you can close this problem. If she is seen then it will be possible to find out more about it.

[2018-04-21 18:48] iopietro commented on #467
But I think that control isn't enough, because 2 player could run the training function (in Automation.php) at the same time, even with the "lock" created by creating a file at the start of the function and deleting them at the end.

[2018-04-21 18:53] iopietro commented on #467
And training with 0 troops must be deleted after adding the last unit in training, this could cause this bug.

![immagine](https://user-images.githubusercontent.com/5269236/39087742-d96977a2-45a5-11e8-962d-786efdb51bc2.png)

[2018-04-21 19:05] iopietro commented on #467
7. Fixed in 05504afcf4c772b4c7e050d3833880cbc6f38e3e.

[2018-04-21 19:46] velhbxtyrj commented on #519
@iopietro @Shadowss I've implemented all the tooltips in the server settings for the administrator. Now it's the same for installation. I would like to know the opinion about how it looks. Continue the same, or maybe something needs to be changed?

[2018-04-21 20:00] iopietro commented on #519
They look good! Good job :)! I think that you can continue the same.

[2018-04-21 20:01] iopietro commented on #467
4) Fixed in ec6a26acf3397740a14ab04781d534dc6e15bc5e.

All bugs are fixed, I think we can close this issue.

[2018-04-21 22:27] velhbxtyrj commented on #519
@iopietro I ran into a little problem. I started filling the configuration file during installation and found out that it was not connected to the language package ((
Could look at this. Or maybe it even makes sense to create a language pack for the installation and when loading the installer, we will have to select the language first before proceeding further?

[2018-04-22 00:42] Dayran commented on #527
@narrita que tal

[2018-04-22 14:48] velhbxtyrj commented on #519
I tried to connect and it did not work :) Try it :)

[2018-04-22 14:53] iopietro commented on #519
Ok, I'll try it.

[2018-04-22 17:27] velhbxtyrj commented on #518
I robbed an oasis and was able to carry out 8,000 of each resource. Must be 800 in fact?

![default](https://user-images.githubusercontent.com/21306412/39097909-7dbf9582-466b-11e8-8024-6c1fdbbad154.jpg)

[2018-04-22 17:57] iopietro commented on #518
Resources in oasis scales with the "STORAGE_MULTIPLIER" constant.

[2018-04-22 18:50] velhbxtyrj commented on #518
I suspected this) Just thought that it depends on the speed of the server :)

[2018-04-22 23:34] iopietro commented on #519
I tried it and it "works", but a lot of errors are displayed, so we should create a different language file for the installation, or we can just split the en.php file into specified files. For example we can create a folder for each language and put in it all languages file: GameEngine/Lang/en/building.php | GameEngine/Lang/en/installation.php etc. Let me know if you like it or not.

[2018-04-23 05:06] Shadowss commented on #518
Good morning guys.

@iopietro : what's next ?

[2018-04-23 05:16] velhbxtyrj commented on #519
I think can split the file into specified files. One for installation, one for the admin area, one for the game. Unless, of course, it does not take much time for this :)

[2018-04-23 11:07] iopietro commented on #518
Good morning, artifacts are my next target. I need to create a new table for artifacts chronology.

[2018-04-23 11:32] Shadowss commented on #518
@iopietro : don't forget about this : Any player may only capture 1 artefact with an unique or account scope. Any player may only capture up to 3 artefacts "at once". Players may own more than one unique/account artefact resp. more than 3 artefacts in total by conquering. Only 3 artefacts are active out of which only 1 can be unique or have an account wide effect. In case there are 2 account wide

[2018-04-23 11:50] velhbxtyrj commented on #518
I would single out this item only. Because the strikethrough already works.

~Any player may only capture 1 artefact with an unique or account scope. Any player may only capture up to 3 artefacts "at once". Players may own more than one unique/account artefact resp. more than 3 artefacts in total by conquering.~ Only 3 artefacts are active out of which only 1 can be unique or have an account wide

[2018-04-23 11:55] Shadowss commented on #518
Wrong

![artefact](https://user-images.githubusercontent.com/1140613/39125017-414888c0-4706-11e8-958e-f0c10729d241.png)

Unique diet control (50%)
Treasury 20, Effect account

Great storage masterplan (GG&GW)
Treasury 20, Effect account

All are active !!

[2018-04-23 11:59] iopietro commented on #518
You've 4 artifacts because you conquered "Ancient Construction plan" before I fixed the possibility to conquer it even with the maximum number of artifacts (3). The artifact activation part isn't in the "barred" part of velhbxtyrj's message.

[2018-04-23 12:34] velhbxtyrj commented on #518
@Shadowss The server does not need to be reinstalled. Just go to another account and try to capture the artifacts. The hero will not be able to capture more than one artifact (large or unique) and in total more than three (one large or unique and two small). The rest of the artifacts can be captured only by capturing the settlement with the located artifact of the leaders. At this stage, just need

[2018-04-23 13:09] eliopinho commented on #519
I do not know much of php code, but would be simplier link whole game to en.php and all languages should be translated by these file, on the installation simply add some kind of function to rename the desired lang file to "en.php" avoiding the work to modify all game files to work properly..
But this only an idea. The experts on this matter have a final word :)

Or

Translate only the game itself,

[2018-04-23 18:44] iopietro commented on #519
@eliopinho, Splitting en.php in more files isn't a problem nor having multiple languages files. The big "problem" is the huge amount of work needed to find every single not localized string in the game and put them in language files.

If you want, you can help us by doing so, don't worry, there's no hurry, if you'll accept you can do it without constrains or deadlines.

[2018-04-23 19:35] iopietro commented on #518
Dunno, it could be a timing out error. @Shadowss You should check your error logs for more infos about that.

[2018-04-23 22:16] eliopinho commented on #519
@iopietro
Friend i do not know how to identify and edit those codes :(

[2018-04-24 05:37] velhbxtyrj commented on #519
Well, I can do it. But this requires a lot of time and the main thing is to solve the problem with how the files for translation will be implemented. After this question is solved, I will be able to change all the files.

P.S. In general, it would be interesting to implement translation with the help of .po and .mo files because they have a more flexible translation system. But editing requires sp

[2018-04-24 09:01] fritz-net commented on #518
I don't think its a timeout since its very fast. The link also works fine if I change account

[2018-04-24 09:30] Shadowss commented on #518
Works for me , sorry

[2018-04-24 09:31] Shadowss commented on #518
[23-Apr-2018 19:45:30 Europe/Bucharest] PHP Warning:  unlink(GameEngine/Prevention/market.txt): No such file or directory in /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automation.php on line 1007
[23-Apr-2018 20:28:37 Europe/Bucharest] PHP Warning:  unlink(GameEngine/Prevention/demolition.txt): No such file or directory in /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automa

[2018-04-24 09:59] iopietro commented on #519
Yeah, it requires a lot of time, for now we'll use .php files, we'll see in the future for other options.

[2018-04-24 09:59] iopietro commented on #519
@eliopinho No, problem, it's ok :).

[2018-04-24 12:28] iopietro commented on #518
I don't understand what does he mean with this phrase: "In case there are 2 account wide effect artefacts amongst your 3 oldest artefacts the fourth oldest will become active.", if I have 3 artifacts among which 2 unique, how could the fourth artifact activates, if I've not a fourth artifact?

[2018-04-24 12:49] velhbxtyrj commented on #518
Work should only three artifacts, which were captured first. All other artifacts should not work. Now all the artifacts work. You can refer to this help: http://travian.wikia.com/wiki/Artifacts

[2018-04-24 12:51] velhbxtyrj commented on #518
I will also add that only one unique or large artifact should work. But now if we have two or more they all work.

[2018-04-24 12:55] eliopinho commented on #519
Also has some graphics buttons can be translated, those i can edit in various languages :)

[2018-04-24 13:11] fritz-net commented on #518
@Shadowss, sure it is working for you since you don't have this much reports. I also works for me if I have less (unread) reports. And also if I switch to another account I don't have the issue. Just check your error.log for the 500Error

![image](https://user-images.githubusercontent.com/2499282/39189085-b7211b22-47d1-11e8-9a67-5dd7edcaf759.png)

[2018-04-24 14:18] phaze1G commented on #519
Idea: Instead of using graphics buttons, we should replace everything with CSS + text. CSS3 can literally mimic graphics and page load will be faster.

[2018-04-24 14:37] iopietro commented on #518
@velhbxtyrj, Yes, I know, the only problem was in that phrase: If I've 3 artifacts, 2 unique and 1 partial (village effect) which one of the unique should I activate? The oldest one?

[2018-04-24 17:09] velhbxtyrj commented on #519
@phaze1G You will be able to do it?

[2018-04-24 17:14] velhbxtyrj commented on #518
@iopietro Yes. The oldest (it's the one that we captured the very first).

[2018-04-24 17:24] agony09 opened #528 "i think game can be hacked"
- Testserver from Shadowss

I think you can still hack the game. I was attacked several times by the same player who suddenly destroyed my village and my army. Suddenly, these players had very many and all kinds of troops and trebuchet. Only 1 hour before he had only very few soldiers.

[2018-04-24 17:30] iopietro commented on #528
Please, send screenshots and provide infromations about those players.

[2018-04-24 17:45] agony09 commented on #528
City is from this Player is Game of Thrones

[2018-04-24 17:46] eliopinho commented on #528
LOL

@iopietro no need prints, that player was me, and i do not hack anything..
i join the server to test it, since i join hes start attack me everyday, i just made an army and ide it until i give the numbers to destroy his capital..
and now he thinks i do not have any troop! because hes attack me every day and i do not have any troops there..

just noob player ;)

:grin:

[2018-04-24 17:58] iopietro commented on #528
Ahahah, good to know, lol. @agony09 The server should be hack proof.

[2018-04-24 18:00] velhbxtyrj commented on #528
@eliopinho The server is not updated!

[2018-04-24 18:01] agony09 commented on #528
Too bad that you are so arrogant.
Yes, I am a beginner and have tried a lot. In the last few weeks every day to better understand the game.
I even asked you by message how you did it suddenly to get so many troops at once. Because I wanted to learn.
But of you there was only an arrogant answer, pity.
This makes it hard for a beginner to learn.
I'm definitely out.

[2018-04-24 18:06] eliopinho commented on #528
@agony09 nobody was arrogant with you! i told you by message i do not hack anything!
if you want to learn you to play just ask so!

after i told you i do not hack anything you just dont believe my word and go to here open a tread.

[2018-04-24 18:06] phaze1G commented on #519
Something like this?

https://jsfiddle.net/7jn1Labp/

[2018-04-24 18:12] eliopinho commented on #519
nice!! but can you "make" like the game graphic Buttons ?

[2018-04-24 18:15] agony09 commented on #528
I also spent my time testing it, but as a beginner. With the eyes of a beginner. There will always be players playing this game for the first time. And they see this with different eyes than the advanced.
You do not have to worry, it was never my intention to steal anything here or anything like that. So far, I found this a very nice community. And if I noticed something in the game, I asked here

[2018-04-24 18:17] velhbxtyrj commented on #519
@phaze1G It looks beautiful. But probably it's worth sticking to the style that applies to this version?

[2018-04-24 18:30] agony09 commented on #528
As I said, it does not help anyone to continue this conversation here ...

[2018-04-24 18:33] eliopinho commented on #528
can close.

[2018-04-24 18:43] Shadowss commented on #528
Will be updated tommorow

[2018-04-24 18:43] #528 closed

[2018-04-24 19:26] velhbxtyrj commented on #519
It seems this is all the buttons: https://github.com/Shadowss/TravianZ/tree/master/gpack/travian_default/lang/en/b

[2018-04-24 20:44] iopietro commented on #528
@eliopinho, Yep, it's fixed.

[2018-04-24 21:25] eliopinho commented on #518
@iopietro after i train some troops the system stay like this..

![barracks](https://user-images.githubusercontent.com/5437151/39214888-f2c4153a-480d-11e8-97fe-acb9c3711ffc.png)

and no change since that (feew days ago)
on the shadowss server

page reloads every second, if i train troops it finish instantly

[2018-04-25 00:56] iopietro commented on #518
It's already fixed in a newer version of the game, probably shadowss' server doesn't have it yet.

[2018-04-25 04:08] phaze1G commented on #519
Sorry for late response been sleeping. I recreate it to be the same as on images.

https://jsfiddle.net/7jn1Labp/

@iopietro should replace this with all buttons 😃

[2018-04-25 04:47] Shadowss commented on #518
Server has been fully update.

[2018-04-25 05:31] velhbxtyrj commented on #519
It looks great!

[2018-04-25 05:40] velhbxtyrj commented on #518
@iopietro @fritz-net is right. With a large number of unread reports, Error 500 on all tabs except the tab all.

Trade | Reinforcement | Attacks | Miscellaneous | Archive -> Error 500

This I was looking at the server @Shadowss.

A little later I'll check it on my server.

[2018-04-25 06:09] velhbxtyrj commented on #518
@iopietro On my server this does not happen. And judging from the error message it's not enough memory size.

[2018-04-25 06:55] Shadowss commented on #519
Who will update the GITHUB buttons ?

[2018-04-25 10:14] phaze1G commented on #519
One more idea, we should replace the most of things we can with css instead of images. Rest of the stuff should be added as sprites css image. It would increase load speed by at least 30%.

[2018-04-25 10:37] iopietro commented on #518
Ok, I'll look into it.

[2018-04-25 10:49] iopietro commented on #519
@phaze1G, They're awesome, great job :)!

[2018-04-25 10:50] Shadowss commented on #519
@phaze1G : i give you an invitation for Collaborator. You can change now.

[2018-04-25 10:53] #525 closed

[2018-04-25 10:54] #516 closed

[2018-04-25 11:01] eliopinho commented on #518
@Shadowss are you shore update right ?
error on barracks still going

[2018-04-25 11:09] iopietro commented on #518
@eliopinho That's because that old version training needs to be deleted from the database manually

[2018-04-25 11:34] phaze1G commented on #519
I don't want to mess the code, I'm kinda new to GitHub functions.

[2018-04-25 11:49] Shadowss commented on #518
I`m delete all data from s1_training

[2018-04-25 11:54] iopietro commented on #519
@phaze1G, Don't worry, github uses "git", every commit can be reverted without problems, edit as much code as you want. If you're not sure, you can fork this project, edit it from your fork and then create a pull request to this project, so we can look at the changes before committing them to the master branch.

[2018-04-25 12:11] phaze1G commented on #519
@iopietro Can you explain me it a bit more, I just added CSS for new buttons and it added directly to master branch.

How should I edit and make pull requests? Should I do it with the desktop client or directly go to file in browser and edit?

[2018-04-25 12:39] Shadowss commented on #519
Maybe you can reduced loads with 30% like you said

[2018-04-25 13:44] Dayran opened #529 "Doubts"
is it normal that amount of population that have the oasis check the same server of http://travian.shadowss.ro to see ???

[2018-04-25 14:03] iopietro commented on #519
@phaze1G, If you want to do pull requestes, you have to fork this project and then edit things in the fork you've made (you can fork it by clicking "Fork" here: https://github.com/Shadowss/TravianZ). After editing things in your fork you can open a pull request (from your fork) by clicking on "New pull request" in the main page of your fork.

If you want to commit many files at once, in different

[2018-04-25 14:04] iopietro commented on #529
Which oasis do you mean? What's the problem?

[2018-04-25 14:25] iopietro commented on #451
Coded/Fixed in 0011d2abcbf8a9964e05eb3538e428e780d3bd47.

[2018-04-25 14:25] #451 closed

[2018-04-25 15:17] iopietro commented on #452
Another thing to add: artefacts of the fool with an account effect doesn't exist, so I'll remove them.

![immagine](https://user-images.githubusercontent.com/5269236/39255272-65074358-48ac-11e8-84c5-e62aa5bd8df6.png)

[2018-04-25 15:25] iopietro commented on #452
Yep, I'll look into this bug.

[2018-04-25 17:56] Shadowss commented on #452
Wait. Arifact of fool exist for accout exist. Is forbiden manuscript why you remove??

[2018-04-25 18:47] iopietro commented on #452
It only exists "village effect" (only one village, positive and negative effects) and "unique effect" (whole account, only positive effects) of the artifact of the fool, the "account effect" doesn't exist

[2018-04-25 19:17] iopietro commented on #529
The server speed is x50, so yes, it's normal.

[2018-04-25 19:47] velhbxtyrj commented on #519
It is necessary to decide.

1. A slightly modified first option for displaying tooltips: https://jsfiddle.net/4ah7j674/

2. Modified version in black: https://jsfiddle.net/1wnr9cc0/

[2018-04-25 20:09] velhbxtyrj commented on #452
Answers to all disputes :) http://t4.answers.travian.com/index.php?aid=90#go2answer

There are two types: small and unique. Small and unique they can affect both on one village and on all the village accounts.

![default](https://user-images.githubusercontent.com/21306412/39269903-e5dee5c8-48dc-11e8-9c9c-867045d7c1b1.jpg)

[2018-04-25 20:52] iopietro commented on #519
I prefer the second one.

[2018-04-25 21:00] eliopinho commented on #519
agree

[2018-04-25 21:24] velhbxtyrj commented on #518
Maybe someone will be interested :)
I'm not 100% sure of the reliability of this information

**History of changes
Changes to the game**

**15 September 2004**
7 days of newbie protection. Within 7 days after the start, it is generally impossible to send troops to the player (including reinforcements)
New population calculation due to buildings
**16 September 2004**
Players can be excluded from th

[2018-04-25 21:45] velhbxtyrj commented on #519
I made the second option.

@iopietro I want to ask you to read and if necessary correct the texts. Link with the beginning of the texts below :)

https://github.com/Shadowss/TravianZ/blob/730378a84e91b18b4cd3455723deff03bb672bcc/GameEngine/Lang/en.php#L1252

[2018-04-26 04:54] Shadowss commented on #519
@phaze1G you said : One more idea, we should replace the most of things we can with css instead of images. Rest of the stuff should be added as sprites css image. It would increase load speed by at least 30%.

Can you do that for us ? Reducing load with 30% is great for our servers and for our version.

[2018-04-26 04:57] Shadowss commented on #518
@velhbxtyrj : can you conquer the Artefact of the unique fool from me ? Is on village : THE HIVE.

Still appear with account effect after replacing files.

![artefact](https://user-images.githubusercontent.com/1140613/39286594-6d69cbc6-4927-11e8-873d-f2614493b9fc.png)

[2018-04-26 05:14] Shadowss commented on #518
@iopietro : some blank pages

Stack trace:
#0 /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automation.php(2691): MYSQLi_DB->canClaimArtifact('15388', '19784', 3, 8)
#1 /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automation.php(78): Automation->sendunitsComplete()
#2 /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automation.php(5854): Automation->__construct()
#3 /ho

[2018-04-26 05:54] velhbxtyrj commented on #518
We have a problem

Can it be just as worth doing here as you did for training troops?

![default](https://user-images.githubusercontent.com/21306412/39288060-3339525c-492f-11e8-8c4a-4eff7325f268.JPG)

[2018-04-26 06:11] Shadowss commented on #518
Hmm strange , let @iopietro come and say what's wrong...

[2018-04-26 06:16] phaze1G commented on #519
There are dozen of images and ill need help from others too. Ill replace the much i can when i have free time

[2018-04-26 06:38] Shadowss commented on #519
Great , thanks @phaze1G

[2018-04-26 08:10] eliopinho commented on #519
friends , don't forget of include this in translation files :smiley:

really good job!

[2018-04-26 10:25] iopietro commented on #518
Fixed in 6394707e53db57cf3919f48d0163b7e7db98c67a.

[2018-04-26 10:26] iopietro commented on #518
@velhbxtyrj, In that case the attack will never arrive due to an error in Database.php, nothing to worry about, I fixed it.

[2018-04-26 11:02] Shadowss commented on #518
Try now @velhbxtyrj

[2018-04-26 11:46] Shadowss commented on #518
Done. But NO MESSAGE RECEIVED AFTER CREATE NATARS ACCOUT.

I must to receive an message how to caputre , etc. Who remove that ?

[2018-04-26 12:12] velhbxtyrj commented on #452
It is right? The action is not displayed until the artifact is activated. And they do not work yet (maybe it's because of the mistake you corrected with the last commit, but I'll recheck it now.

![default](https://user-images.githubusercontent.com/21306412/39304997-46865640-4964-11e8-9b30-dcc3e8a90b0b.JPG)

[2018-04-26 12:17] Shadowss commented on #452
This is not unique artifact. Effect is 0 because is not activated ... i think

[2018-04-26 12:27] iopietro commented on #518
Nope, Area of effect of the unique fool is "Account" it's right as it is.

[2018-04-26 12:31] iopietro commented on #452
Shadowss is right, the effect is 0 because it's not activated yet, but I should change it to a more clear text.

[2018-04-26 12:37] velhbxtyrj commented on #452
It may make sense to output a record of this type: after activation
or: will appear after activation

[2018-04-26 12:40] velhbxtyrj commented on #518
I do not have any texts at all for the appearance of natars and artifacts. And just as I myself create villages for the construction of a miracle of the world, they do not appear themselves.

[2018-04-26 12:44] velhbxtyrj commented on #452
Not all bonuses work. The same with antibonuses.

[2018-04-26 12:45] iopietro commented on #452
I know, i'm fixing the other bonuses by making the method I made yesterday generic.

[2018-04-26 12:48] iopietro commented on #518
@velhbxtyrj I noticed a funny thing, in very high speed servers, the artifact of the fool effect change every second, lol (because of the formula I've made yesterday). Should we do something about that? Maybe putting a refresh time limit of 5 minutes or something like that.

[2018-04-26 12:55] velhbxtyrj commented on #518
@iopietro I have a speed of x200 and a time of 14 minutes)) I think it's necessary to limit)) Maybe even 30 minutes or an hour.

[2018-04-26 13:13] velhbxtyrj commented on #518
@iopietro It is also necessary to make the data marked in the picture real values of activation and change of effect. In the description of the treasury and in the description of the artifact. For example, activation after 2 hours means it should be displayed 2 hours.

![default](https://user-images.githubusercontent.com/21306412/39307918-c9ba05a4-496c-11e8-89f6-4d287f70bf9b.JPG)

[2018-04-26 13:25] iopietro commented on #518
Right, 30 minutes. Yep, I need to change those two descriptions too.

[2018-04-26 13:34] eliopinho commented on #518
Perhaps regardless of a speed server, no make sense of limit the time of artifacts...
Just like medals, 1 week interval (no modify with the game speed).

I think it shoul have the normal durations.. whatever your server has 1x 3x 10x or 1000x

[2018-04-26 13:38] iopietro commented on #518
It makes sense only for the artifact of the fool, because in a 10000x server it'll change every 1 seconds, and it makes nonsense, lol.

[2018-04-26 16:53] Shadowss commented on #518
I agree with @eliopinho

[2018-04-26 17:01] fritz-net commented on #518
How about an additional time factor for artifacts?

[2018-04-26 17:02] velhbxtyrj commented on #519
Another one: https://jsfiddle.net/h1yzL6fs/

[2018-04-26 17:12] iopietro commented on #519
I like it!

[2018-04-26 17:50] velhbxtyrj commented on #518
@iopietro Tell me please, do I understand this function correctly:
` $artifacts = $database->getInactiveArtifacts(round($time - (86400 / (SPEED == 2 ? 1.5 : (SPEED == 3 ? 2 : SPEED)))));`

If we have a server speed of x1 then the activation time is 24 hours, else if x2 = 24/1.5 = 16 hours, else if x3 = 24/2 = 12 hours, else if x4 = 24/speed = 24/4 = 6 hours and etc.

If my understanding is correct

[2018-04-26 18:42] velhbxtyrj commented on #519
@Shadowss @iopietro @phaze1G @eliopinho
I think it's worth to be determined definitively:

1. https://jsfiddle.net/1wnr9cc0/

2. https://jsfiddle.net/h1yzL6fs/1/

3. https://jsfiddle.net/80kvj6vn/

[2018-04-26 18:59] eliopinho commented on #519
I like 3 :)

[2018-04-26 19:59] iopietro commented on #519
I like the third too, but i can't see it and the second from firefox.

[2018-04-26 20:02] velhbxtyrj commented on #519
OK. Tomorrow I'll try to work on it and fix it for firefox.

[2018-04-27 00:26] Dayran opened #532 "Something wrong with the movements of the troops"
Well I leave some details, I send the soldiers to any village or oasis accompanied by the hero with a time, now when the hero dies the live soldiers turn to another time I hope you understand me in passing I leave a video

https://youtu.be/aplmawCKhvE

[2018-04-27 05:11] velhbxtyrj commented on #532
This is probably not a bug. The percentage of hero's health is subtracted depending on how many percent of your warriors were killed. If your hero did not have 100% health then he should have died.

[2018-04-27 07:13] Shadowss commented on #452
Fixed

[2018-04-27 07:13] #452 closed

[2018-04-27 07:58] phaze1G commented on #519
Always keep font default or web safe. This one you used is not for web purposes.

[2018-04-27 08:48] eliopinho commented on #532
@velhbxtyrj is talking about how much time to go, and how much time to back!
much different times..

[2018-04-27 08:59] velhbxtyrj commented on #532
Oh yes. This is problem.

[2018-04-27 13:15] iopietro commented on #518
I'll do it after fixing all bugs. Now I'll do general fixing.

[2018-04-27 18:33] Shadowss opened #533 "Cannot create WW village"
I try to create natar village but i receive blank page.

http://travian.shadowss.ro/GameEngine/Admin/Mods/natarend.php

[2018-04-28 00:15] Dayran opened #534 "Error in spy report"
Well I leave a photo and this espionage was tested several times with several amounts

![sin titu11lo](https://user-images.githubusercontent.com/5153668/39389575-c3485f2c-4a57-11e8-8653-ffbd65ee364b.png)

[2018-04-28 11:36] eliopinho commented on #534
yeah, one rat..

[2018-04-28 11:58] iopietro commented on #534
What's the error? I don't get it.

[2018-04-28 12:31] eliopinho commented on #534
spys do not work properly

a spy attack only battle with other spyes not troops
for example

![captura de ecra 2018-04-28 as 13 29 07](https://user-images.githubusercontent.com/5437151/39396577-5f2cdc5c-4ae8-11e8-867a-298dd80e8eb1.png)

[2018-04-28 12:52] iopietro commented on #534
@eliopinho
1) The defender had 547 Pathfinder, so there was nothing wrong.
2) Yep, that's a bug, I thought he was reffering to the report impagination.

[2018-04-28 14:09] Dayran commented on #534
I mean that when they reinforce with spies a village of another player and another spy player does not suffer losses.

[2018-04-29 11:02] iopietro commented on #534
Fixed in c599838dc81287963c2e0f51da57040c7f9a32d7.

[2018-04-29 11:03] iopietro commented on #532
Fixed in a40accc10166210c36e0d941bb97b49d4ce0018f.

[2018-04-29 13:37] Sick1G opened #537 "Adding SMTP authentication for mails"
Could we have SMTP so the server can send secure emails instantly instead of delayed unsecured emails which end up in spam folder?

[2018-04-29 14:53] #534 closed

[2018-04-29 14:53] #532 closed

[2018-05-01 14:40] velhbxtyrj commented on #533
@Shadowss hmmm. I've just added to your server 5 WW villages.

[2018-05-01 15:48] Shadowss commented on #533
I receive blank pages hmm wtf? :))

[2018-05-01 15:49] velhbxtyrj commented on #533
I can not know why. I'll come back again and try to add another village.

[2018-05-01 15:53] velhbxtyrj commented on #533
Everything works

![default](https://user-images.githubusercontent.com/21306412/39480430-d5118514-4d70-11e8-89fd-71318dafcfc8.jpg)

[2018-05-01 17:45] iopietro commented on #533
Since I'll rework the whole "WW spawning" and "Artifacts spawning" section, I'll close this issue for now.

[2018-05-01 17:45] #533 closed

[2018-05-02 08:12] Shadowss commented on #518
On Ancient Construction Plan on Bonus must to be printed : You can construct World of Wonder or something like that.

![arte ww](https://user-images.githubusercontent.com/1140613/39512416-992bf58c-4df9-11e8-8a5d-6af248adaddb.png)

[2018-05-03 00:46] iopietro commented on #518
"Fixed" in 9e2d2b68428fb7482b68ab979dc277317597eb86.

[2018-05-03 06:26] Shadowss commented on #518
Great release , sever has been updated.

[2018-05-03 06:56] velhbxtyrj commented on #518
A slightly distorted view of the page when the announcement is displayed

![default](https://user-images.githubusercontent.com/21306412/39563293-35bdd050-4eb8-11e8-988b-09cc0765ff5a.JPG)
![2](https://user-images.githubusercontent.com/21306412/39563294-35e9fd42-4eb8-11e8-8fd5-14b6b31d4fe8.JPG)

[2018-05-04 05:14] Shadowss commented on #518
Good morning,

![fool](https://user-images.githubusercontent.com/1140613/39613802-149675a6-4f73-11e8-9a42-37054423532f.png)
![only 2 zecimals](https://user-images.githubusercontent.com/1140613/39613803-14bacfdc-4f73-11e8-9ca9-71cf69853a33.png)

I think is better to user maximum 3 decimals , on rat should be 0.333 crop

[2018-05-04 06:27] iopietro commented on #518
Good morning, I think that I forgot to round the upkeep somewhere, because the upkeep should be rounded to the greatest integer (so 1 in that case).

[2018-05-04 09:08] iopietro commented on #518
@Shadowss, what active artifact did you have?

[2018-05-04 09:37] Shadowss commented on #518
I put a screen with what artifact i have.

Unique fool with effect consume less with 3

[2018-05-04 11:45] iopietro commented on #518
Sorry, I didn't see it from the cellphone.

[2018-05-04 20:18] iopietro commented on #518
"Fixed" in cf745144514ee71d9e3c280196d93359a32155f0.

[2018-05-04 21:11] Shadowss commented on #518
This is the great automation function

30th November 2006
Violations of certain rules are now banned programmatically.

Will post that rules tomorow

[2018-05-04 21:14] iopietro commented on #518
It will be coded while refactored.

[2018-05-05 07:33] Shadowss commented on #518
Good morning ,

On raid list , margins can be cetered ?

![margins](https://user-images.githubusercontent.com/1140613/39660836-c4ae4252-504f-11e8-8c3a-8f1259450ee8.png)

[2018-05-05 10:26] eliopinho commented on #518
@iopietro  when you have your troops on reenforcement, and want to send back to you, all the troops are automated writen to send back , like this
![sem titulo](https://user-images.githubusercontent.com/5437151/39662224-3358a30e-5056-11e8-8f59-b971a9e36ea5.jpg)

but if you want to retrieve only some amounts of troops you have to rewrite hall fields do 0 and change only the type of troops that you w

[2018-05-05 10:42] velhbxtyrj commented on #518
@eliopinho When you have a lot of reinforcements and so that fewer precious units are killed by hunger, need to leave it as it is. And if you need to send one unit back to yourself, then it is not difficult for you to remove all unnecessary units for sending. As far as I remember, this was realized as it is now.

[2018-05-05 10:46] eliopinho commented on #518
i do not remember how it works on official..

[2018-05-05 11:02] iopietro commented on #518
In the original Travian all troops are maxed out when retiring enforcements.

[2018-05-05 11:08] velhbxtyrj commented on #518
@iopietro I just read the information that if a player to whom we send reinforcements has a minus, then the troops that came in reinforcements will die first. By the code it is so implemented?

[2018-05-05 11:14] iopietro commented on #518
Yep, troops will die in this order: Reinfercements, Prisoners (in other villages), Own home troops, Own Away troops.

[2018-05-05 15:06] phaze1G commented on #518
@iopietro Does this bug means after you fix it, we don't have to manually spawn artifact and ww?

 Artifacts (and WW villages) should spawn in the map after some amount of days from the start of the server.

[2018-05-05 15:38] iopietro commented on #518
Yep.

[2018-05-05 15:46] velhbxtyrj commented on #518
@iopietro Can it make sense to leave it in the server administrator's execution? Like it's described here #395

[2018-05-05 16:01] iopietro commented on #518
I think that I'll follow that issue as a exmple, because I'll put the options you listed there, in the installation. WW and Artifact creation should be automatic, but when they should spawn, should be decided during the installation. We should then remove the option to manual spawn natars and WW/building plans (from the Admin/Multihunter panel).

[2018-05-05 16:07] iopietro commented on #518
@velhbxtyrj,

Does this bug happen when:
1) I reinforce a village a village with my hero.
2) My village is destroyed by someone.
3) My hero is alive but lost in the darkness.

?

[2018-05-05 22:06] iopietro commented on #518
Fixed in  89bebae.

The capital is now changed automatically if destroyed.

[2018-05-05 22:16] phaze1G commented on #518
@iopietro Thanks for the answer. Can't wait for automatized ww and natars.

[2018-05-06 07:33] Shadowss commented on #518
Good morning guys

I remember a problem in World of Wonder after release the Building Plans.

So troops from WW must consume half crop after Building Plans are released.

- ALL troops eat only HALF of what they normally eat while staying in the wonder. This makes wonders great places to park your defense. That being said when you do park troops in the wonder you must feed them. This is because unl

[2018-05-06 13:25] iopietro commented on #518
Good morning,

1) Starvation fixed in bd033334c41ca674b93946fc2d4713b852066c7b (it wasn't working due to a little mistake).
2) Plus feature (statistics): it's already in the list.
3) Dorf3.php, crop production: I don't know how it was in the T3.6 version.

[2018-05-06 13:27] iopietro commented on #496
Fixed in ec63b04587d5ab2dcd93f21d958db58a4b94f600.

[2018-05-06 13:27] #496 closed

[2018-05-06 13:28] iopietro commented on #253
Fixed in ec63b04587d5ab2dcd93f21d958db58a4b94f600 (by removing "(int)" type casting).

[2018-05-06 13:43] Shadowss commented on #518
Great , thanks for fixing.

In T3.6 version the time decrease if you have negative crop.

[2018-05-07 08:27] eliopinho commented on #518
@iopietro i cant add more than 7 villages to raidlist even created a second raid list and i cant add any village...
also is possible add a function to add a village to raid list by name of the village ?

[2018-05-07 10:01] fritz-net opened #538 "Display all troop movments in dorf3.php"
Display *all* troop movements in the correct color in dorf3.php to give the user a better overview of reinforcements, attacks (incoming/outgoing),....

[2018-05-07 11:45] iopietro commented on #518
1) I don't know how to reproduce it, does it give any errors?

It works for me:
![immagine](https://user-images.githubusercontent.com/5269236/39700252-d936b764-51fc-11e8-999f-ea4705f002d3.png)

2) Yep, I'll do that

[2018-05-10 15:57] iopietro commented on #518
Added in 90221cf19f233e56358207e12d3e1bc15cbfcaff.
1) Negative crop production in Dorf3.php.
2) Artifact of the fool next effect time displayed in the treasury.

@eliopinho Tell me if you can't add farms even with 90221cf19f233e56358207e12d3e1bc15cbfcaff, thanks.

We're very close from the release of the 8.3.4 version.

[2018-05-10 16:57] eliopinho commented on #518
@iopietro at the moment all tests i made is in this server from shadowss
As soon i can , i will test it !

The game development is going great

[2018-05-10 17:29] Shadowss commented on #518
Great release. I think i must reinstall all server

[2018-05-10 18:02] iopietro commented on #518
If you don't want to reinstall it, you can add these lines of code into your config.php file:

// ***** Natars Spawn Time
define("NATARS_SPAWN_TIME",260);
define("NATARS_WW_SPAWN_TIME",260);
define("NATARS_WW_BUILDING_PLAN_SPAWN_TIME",260);

// ***** Oasis production
define("OASIS_WOOD_MULTIPLIER",40);
define("OASIS_CLAY_MULTIPLIER",40);
define("OASIS_IRON_MULTIPLIER",40);
define("OASIS_CROP_MULTI

[2018-05-10 18:14] Shadowss commented on #518
Great job for aour community. Must major release i think must to be code automatic functio  that i post upside. For conquer send resource etc.

[2018-05-10 18:15] iopietro commented on #518
It'll be done after the whole refactoring.

[2018-05-11 05:08] Shadowss commented on #518
@iopietro : cannot add village in farm list ... nothing happened when press CREATE

[2018-05-11 06:14] velhbxtyrj commented on #518
@Shadowss I just made a full reinstallation of the server and everything works. In the old, everything worked as well. I would recommend that you do the same full reinstallation. For example, on your server, I could not set a residence for the target catapults, always exhibited randomly.

@iopietro I can add to the raid list troops that I have not even explored yet. I do not have any Imperians. I

[2018-05-11 06:25] velhbxtyrj commented on #518
Yes, that's for sure. I forgot that I'm the only one on my server :)

[2018-05-11 06:28] Shadowss commented on #518
Maybe i must wait to release 8.3.4 until full reinstall of server.

[2018-05-11 11:36] iopietro commented on #518
@shadowss
1) I have to reproduce that raid list bug on my server, and actually i don't know how to reproduce it. I'll try, I know what caused it. (Just for being secure, were you playing with the latest version?)

2) The timer will start 5 days / server speed before the release of Artifacts/WW villages/WW building plans.

3) I'll see your code.

4) @velhbxtyrj Yeah, I'll do a rework about that, fo

[2018-05-11 11:39] Shadowss commented on #518
@iopietro : Thanks for your work and for looking to that Automated Messages

[2018-05-12 13:44] iopietro commented on #518
@Shadowss, What image should I add for Artifacts and WW Villages messages?

[2018-05-12 13:51] Shadowss commented on #518
![38559031-95bffcca-3cda-11e8-898f-d024a155b237](https://user-images.githubusercontent.com/1140613/39957998-bc26d49a-5604-11e8-8f26-4e44f99462aa.png)

This should be ok

[2018-05-12 14:39] iopietro commented on #518
Ok, good

[2018-05-13 07:34] Shadowss commented on #518
After artifact spawn something went wrong....

Appears Building Plans Spawn but might Appear first WW Village

![spawn](https://user-images.githubusercontent.com/1140613/39964981-e8b58012-5698-11e8-97b2-8d5aeae074c0.png)

Anyway after countdown arrives at 0 but no BUILDING PLANS apper and no message mass receive.

[2018-05-13 11:36] Shadowss commented on #518
It must appear on small artifact. All

[2018-05-13 13:02] iopietro commented on #518
You decide when Natars/Artifacts, WW villages and WW building plans are spawned, you can set it from the config.php file.

[2018-05-13 13:17] Shadowss commented on #518
Will make it a screen on config when i'll arrive home. But please make visible artifacts on small artifact section

[2018-05-13 13:56] iopietro commented on #518
Ok, I added WW building plans to the "small artifacts" section of the treasury, in the bdd896573cddb4d171e80c96d6b3eca5c9e46023 commit.

[2018-05-13 14:08] Shadowss commented on #518
Great. What's happend witg automated messages? Nothing receive when plans was released

[2018-05-13 14:38] velhbxtyrj commented on #518
Artefact of the slight fool should be 10. There are only five of them now.

![default](https://user-images.githubusercontent.com/21306412/39968376-7deedaa8-56d4-11e8-8397-663f07a6c7ea.jpg)

[2018-05-13 14:49] iopietro commented on #518
I read that village artifacts effect should be 48, we have now 47 village artifacts effect, so I only have to add one artifact of the slight fool, previously they were 10 because of the 5 artifacts of the fool account effect, but artifacts of the fool only exist with village and unique effects.

[2018-05-13 14:50] velhbxtyrj commented on #518
It seems to me or the name needs to be reversed?

![default](https://user-images.githubusercontent.com/21306412/39968457-af2ae9ee-56d5-11e8-8226-9bc66ef1b241.jpg)

https://github.com/Shadowss/TravianZ/blob/26431b6cea7583d4fe331fae4a14e43ab47287d1/install/templates/config.tpl#L105

https://github.com/Shadowss/TravianZ/blob/26431b6cea7583d4fe331fae4a14e43ab47287d1/install/templates/config.tpl#L109

[2018-05-13 15:13] velhbxtyrj commented on #518
@iopietro
1. I read the information now on the number of all artifacts and everywhere they write that their 10 Artefact of the slight fool with the effect of the village and 1 Artefact of the unique fool with the effect of the account.

2. WW villages were created in the amount of 13. Artifacts also created in the amount of 13. Everything works.

3. You did a great job :) It's aerobatics.

4. The

[2018-05-13 16:17] Shadowss commented on #518
@iopietro : on test server on config file :

// ***** Natars Spawn Time
define("NATARS_SPAWN_TIME",99);
define("NATARS_WW_SPAWN_TIME",100);
define("NATARS_WW_BUILDING_PLAN_SPAWN_TIME",101);

[2018-05-13 16:32] iopietro commented on #518
@velhbxtyrj,
0) You're right, my mistake, the texts are reversed

1) Can you please link me some of those articles? So I can see the right amount of every artifacts.

2) Yep :), in the future I'll insert an installation option to decide how many WW villages/WW building plans the game have to spawn (and maybe how many artifacts have to be spawned etc.) It will be 100% customizable :).

3) Thanks, I

[2018-05-13 16:41] Shadowss commented on #518
Ahh ok , i understand , will reinstall all server after release 8.3.4 💃

[2018-05-13 17:30] velhbxtyrj commented on #518
@iopietro Perhaps this article will be useful for further work on the appearance of artifacts. https://wbb.forum.travian.com/thread/65093-artifact-spawning-locations-guide/

This guide to artifacts:
https://wbb.forum.travian.com/thread/47415-guide-to-artefacts-the-facts/

Some excerpts from this guide are worth paying attention to:

I could not find that information in English which is available i

[2018-05-13 17:57] velhbxtyrj commented on #518
@iopietro Forgot to learn more about this:

During installation, we set the following values:

Natars Spawn: 20 days
WW villages Spawn: 50 days
Construction plans Spawn: 60 days

Everything was created at the time indicated by us. We built a Wonder of the world at level 50. Next, we need additional scrolls for construction, which must be at the counterpart of the alliance. They should appear some

[2018-05-13 20:13] iopietro commented on #518
Ok, so I'll increase them to 10. I'll save the other articles for the refactor.

All WW building plans spawn at the given days, no other plans spawn after reaching the level 50 of a WW.

[2018-05-14 05:19] velhbxtyrj commented on #518
So it is necessary to refine the appearance of additional construction plans. Additional construction plans should appear after a certain time, when the Wonder of the World reaches level 50. According to the rules, you need to have one construction plan on your account to build a Wonder of the World 0 - 50 level and you need a second plan for the player account from the alliance for the constructi

[2018-05-14 05:37] Shadowss commented on #518
Building plans on servers appears after 200 days.

[2018-05-14 07:39] velhbxtyrj commented on #518
I just can not remember this moment. It turns out that there are only 13 construction plans in the game and can not be any more? So to continue building it is necessary to unite with other players or alliances?

[2018-05-14 07:40] Shadowss commented on #518
Yes , you have right.

[2018-05-14 11:55] iopietro commented on #518
In the original T3.6 there were only 13 WW building plans, spawned at the same time. To build a WW over the 49th level, one of your allies needs to have one or more WW building plan.

@Shadowss If you want to see the 3 messages, you have to do exactly what I said above (step by step), otherwise you'll only be able to see the last message, if Natars/Artifacts, WW Villages and WW Building plans are

[2018-05-14 12:38] velhbxtyrj commented on #518
Found on the Internet lots of descriptions of what should be in the WW village:

I singled out phrases for which it is worth paying attention to the bold text.

@Shadowss @iopietro What do you think about it?

[2018-05-14 14:02] iopietro commented on #518
I think that the informations are true and should be coded.

[2018-05-14 14:53] eliopinho opened #539 "wrong spy report"
![spy](https://user-images.githubusercontent.com/5437151/40004925-aec19b06-578e-11e8-95e5-52d898494fd8.jpg)
@iopietro i receive this report..
but i do not have any spy troops on the moment of attack,
so i shouldnt receive any report..

[2018-05-14 14:58] iopietro commented on #539
You can seen Natars' spying reports even if you have 0 spying troops in your village.

[2018-05-14 15:00] Shadowss commented on #539
No bug , this is like real travian. Can be closed ? @iopietro answer

[2018-05-14 15:04] iopietro commented on #539
@Shadowss Yep.

[2018-05-14 15:11] eliopinho commented on #539
I do not know.. sorry 😁

[2018-05-14 16:41] velhbxtyrj opened #540 "Parse error after saving the settings in the Admin panel"
This is due to the configuration file: GameEngine/config.php
`Parse error: syntax error, unexpected '%' in /GameEngine/config.php on line 120`

I have these records:
[code]

After saving the settings, they are overwritten by:
[code]

[2018-05-14 17:47] velhbxtyrj opened #541 "Implementation of Newsbox 2 with new information"
I do not know how true this is, but I tried to make it real.

The code itself:

[code]

If it looks good then I'll be happy :)
Actually, as always, express their thoughts :)

![default](https://user-images.githubusercontent.com/21306412/40013892-95618436-57b7-11e8-8114-aa10c2fba1c7.jpg)

[2018-05-14 17:57] ZZJHONS commented on #541
Isn't it better D, M, Y? It's more international I think

El lun., 14 may. 2018 19:47, Vladyslav <notifications@github.com> escribió:

[2018-05-14 18:10] velhbxtyrj commented on #541
I adjusted this data to the output that is used in the game. You can see it in Newbox 1 - Server Start. But I completely agree with you.

[2018-05-14 18:28] Shadowss commented on #541
Looks awsome you can implement in code

[2018-05-14 18:46] iopietro commented on #541
I agree with Shadowss, you can implement it!

[2018-05-14 19:18] velhbxtyrj commented on #541
Implemented in https://github.com/Shadowss/TravianZ/commit/fde8bb1371137c47a066a5f16d62d704c6135399

[2018-05-14 19:18] #541 closed

[2018-05-14 19:19] velhbxtyrj commented on #540
I tried to fight this problem and I did not succeed (

[2018-05-14 19:54] iopietro commented on #540
I think that is generated because of the new constants I added in the last updates, I'll look into it.

[2018-05-14 21:15] iopietro commented on #540
Fixed in  5ef8a1d.

[2018-05-15 17:12] eliopinho commented on #539
@iopietro
![spy](https://user-images.githubusercontent.com/5437151/40072305-40d7c312-586b-11e8-81d8-34ce7f99b71a.png)

i think theres something wrong with spyes..
i do not have any casualties in spys and i should have lost all of them..

[2018-05-15 17:55] Shadowss commented on #539
Do you have any spy artifact?

[2018-05-15 18:40] velhbxtyrj commented on #539
My opinion is that there are problems with the server itself and not with the code.

[2018-05-15 19:48] iopietro commented on #539
99% of problems are bugs, and every bug can be reproduced under certain conditions, the problem isn't fixing the bug (not every time), but find how to reproduce it and then find it in the code.

[2018-05-15 20:04] #539 closed

[2018-05-16 04:39] Shadowss commented on #539
@eliopinho : server updated , you can check now

[2018-05-16 05:37] velhbxtyrj commented on #518
@iopietro Then I do not know what to do with this: on the @Shadowss server, when setting targets for catapults after they are sent, they are set up random.

[2018-05-16 05:49] Shadowss commented on #518
What ? I do not reproduce what are you saying. You say , if you select as target Residence , the catapults target random ? Or what ?

[2018-05-16 05:51] velhbxtyrj commented on #518
Then I except the residence did not set any targets. Now I set various other targets and always after sending and at the rally point is displayed: random.

[2018-05-16 05:52] Shadowss commented on #518
Wait , i send an attack on you
![first wave](https://user-images.githubusercontent.com/1140613/40098905-6db42e0e-58e6-11e8-8f0e-5fc2824e6c46.png)
![second wave](https://user-images.githubusercontent.com/1140613/40098906-6dd2d94e-58e6-11e8-90f7-445d0058c410.png)

We wait the result , what target is arrives at you

[2018-05-16 05:58] velhbxtyrj commented on #518
The targets you have will be the same as it should be. But my targets always go random. I will now send you 20 catapults with the same targets and we see my result )

[2018-05-16 06:07] Shadowss commented on #518
![attack arrive](https://user-images.githubusercontent.com/1140613/40099406-82956250-58e8-11e8-997d-19488f722ddd.png)

And the arrive attacking.

Remove your account from Admin panel and recreate it.

[2018-05-16 09:01] eliopinho commented on #518
![spy](https://user-images.githubusercontent.com/5437151/40107426-1494a452-58f0-11e8-87bb-8d18eeb4a587.png)

my big friend @velhbxtyrj not sure if the case but...

[2018-05-16 09:04] Shadowss commented on #518
Ahh you are right :))) i completely forgot about brewery ...

[2018-05-16 09:10] eliopinho commented on #518
roman player :+1:  :)

[2018-05-16 09:11] eliopinho commented on #539
i will make 10.000 spyes to test it
wait 7h =)

[2018-05-16 09:14] Shadowss commented on #539
I give you 10000 spyes wait

[2018-05-16 09:44] Shadowss commented on #381
I think is not a bug http://t4.answers.travian.com/?view=answers&action=answer&aid=117#go2answer

[2018-05-16 09:50] velhbxtyrj commented on #381
Why do you think so?

[2018-05-16 09:56] velhbxtyrj commented on #518
Yes you are right. That's my fault. lol

[2018-05-16 10:14] eliopinho commented on #539
![screenshot_20180516-111544_samsung internet](https://user-images.githubusercontent.com/5437151/40111286-4c34471e-58fa-11e8-8801-c8a028f57a81.jpg)

All fine now 😁

[2018-05-16 10:19] Shadowss commented on #381
What are medals?

With the implementation of T3.1, Travian introduced player and alliance medals onto the servers. These are awarded each week to players who manage to appear and stay in the Top10 from Monday till Sunday.

The Top10s are reset weekly on Sunday midnight GMT.

[2018-05-16 10:28] velhbxtyrj commented on #381
Is the issuance of medals now works as described in the article? In order for them to work this way, need to install the server exactly at midnight on Sunday.

[2018-05-16 10:32] Shadowss commented on #381
Ahh ok , then bugs still active. Sorry

[2018-05-16 16:46] iopietro commented on #381
Should be fixed in 6909ba4e5881fedf45504529103d10fda5704daa, let me know if I understood correctly what you wrote.

[2018-05-16 17:37] velhbxtyrj commented on #381
Let me describe an example here. We installed the server on Tuesday at 8:00, for example, the launch is scheduled for 12:00. The first medals should be issued not after seven days as it was (next Tuesday) (I'm not sure exactly what the release binding is for the installation time or the server startup time), but in five days at 24:00 on Sunday. Follow-up medals must be issued in seven days at 24:0

[2018-05-16 17:59] iopietro commented on #381
So, I coded it right. What you said should only happens the first time (the first medals issuance after installing the server) and then they're given after "MEDALINTERVAL" value.

[2018-05-16 18:07] velhbxtyrj commented on #381
I apologize if I misunderstood. This line is exactly responsible for the start date. The date of installation does not affect this?

`$stime = strtotime(START_DATE) - strtotime(date('m/d/Y')) + strtotime(START_TIME);`

[2018-05-16 18:12] iopietro commented on #381
Medals are only given if the server is started, that line of code is used to control if the server is started or not. Yep, the date of installation doesn't affect it.

[2018-05-16 18:14] iopietro commented on #381
In reality, medals are now issued on the next sunday after the start of the server.

[2018-05-16 18:19] velhbxtyrj commented on #381
Tomorrow I will perform a full reinstallation of my server and see how it works :)

[2018-05-16 20:20] rraallvv opened #542 "How to run a public server without being issued for copyright infringement?"
I love the look and feel of this version of Travian, and its minimalistic approach on the UI. So I'm wondering what would need someone to do in order to run a public server without having copyright infringement related issues. It wouldn't necessarily have to be a game with the name of Travian in it, but with a different theme and name. My guess is that replacing all images for original artwork and

[2018-05-16 21:45] iopietro commented on #542
Yeah, I've love too the T3.6 version of travian, imho it's the best one.

I don't know, but imo changing the whole graphic and the name should be enough, it also depends depends on your actual country.

Yep, it would great, but the actual version is 0% moddable or expandable, in the future and after the OOP rework it will be easily moddable and expandable (and more quick).

Sure, recreating a game

[2018-05-16 23:56] rraallvv commented on #542
There is also [Dominus](https://github.com/dan335/dominus), but it has a more steep learning curve, and the UI and game mechanics seem way too complicated for a mid-core MMO strategy game, IMHO. Although modding Dominus into something that resembles Travian could be a good option too. Maybe even forking Dominus to create a moddable version of Travian could even attract more attention that the orig

[2018-05-17 04:49] Shadowss commented on #518
@iopietro Why WW Village attacks me ??

![ww village](https://user-images.githubusercontent.com/1140613/40157282-e26a143c-59a6-11e8-807d-f5b297c749c7.png)

[2018-05-17 09:00] eliopinho commented on #542
if the server was on a particular vps like amsterdam or china maybe you wont worry :+1:

[2018-05-17 10:25] iopietro commented on #518
I attacked you from the Natars account, for testing a thing :P .

[2018-05-17 13:49] rraallvv commented on #542
I see... so, it seems only the source code in the backend is original work, so even if one changes the artwork, and other the content like the text in tutorials and descriptions, the scripts in the frontend would still be proprietary, am I right?

About charging the users or driving some economic gains from the game, I guess I would want to do so at some point if the game attracts some attention.

[2018-05-17 17:51] velhbxtyrj commented on #541
@iopietro Please check this code. It works but I'm not sure if it's done correctly.
Slightly modified to output information. If something appeared in the world, then instead of the date information is displayed: In World.

[code]

![default](https://user-images.githubusercontent.com/21306412/40194710-053b03e6-5a14-11e8-82bd-f97f0910ebc2.jpg)

[2018-05-17 18:14] Shadowss commented on #541
Maybe is better to put Already in Game or In Game or Already released

[2018-05-17 18:48] velhbxtyrj commented on #541
Yes you are right. But rewriting two words is not such a big problem. And most importantly, that it would not be a long expression, or then the tex will go beyond the frame.

![default](https://user-images.githubusercontent.com/21306412/40197396-04dca08c-5a1c-11e8-9a3c-32342d769661.jpg)
![1](https://user-images.githubusercontent.com/21306412/40197397-05000d10-5a1c-11e8-91ed-06693b01aee0.jpg)
![2](

[2018-05-17 19:30] velhbxtyrj commented on #540
@iopietro We still have problems with this.
The error does not occur if we edit and save the block: Edit Server Settings

Problems after saving all other blocks:
- Edit Plus Setting;
- Edit Log Setting;
- Edit Newsbox Setting;
- Edit Extra Settings;
- Edit Admin Information

I looked at these files that correspond to the above and there they have information that relates to different blocks, and s

[2018-05-17 23:05] eliopinho opened #543 "rally point"
Let me try to explain..

I have big amount of troops in reenforcement,  after my village was drestroyed completly i build a rally point and send back my troops.
In between of troops arrive , my village was destroyed again ( rally point  too )

Well , my troops arrived and my crop go to big number negative (i never can build anything, because te crop is negative)

I can put rally point  at master b

[2018-05-17 23:46] iopietro commented on #541
Your code it's good, I've reduced it a little:

[code]

[2018-05-17 23:57] phaze1G commented on #518
@iopietro since u are doing forums, can you make alliance forums also as global wide forums for all users where members can report bugs talk and stuff like that?

[2018-05-18 00:13] iopietro commented on #518
Yep, that's what I'll do in the second part of alliance forum fixes, "public" forums will be accessible to every user in the server :).

[2018-05-18 05:15] Shadowss commented on #541
@velhbxtyrj : you can implement it !

[2018-05-18 05:34] velhbxtyrj commented on #541
I'll do it in the evening, I want to work with this code a little. And now I'm already at work (

[2018-05-18 09:48] Shadowss commented on #518
@iopietro : Tell if this artifact have effect on WW Building (ONLY ON WW BUILDING)

The architects unique secret
--
All buildings in the area of effect are stronger.  This means that you will need more catapults to damage buildings  protected by this artifacts powers.
Natars
Hemons Scrolls
-
Account
Building stronger with (5x)
Treasury Level 20
-
-

[2018-05-18 11:27] Shadowss commented on #518
Ahh ok , great ! Thanks

[2018-05-18 11:35] velhbxtyrj commented on #518
I found here such an entry in the Russian-language Travian Anwers:

[2018-05-18 11:42] Shadowss commented on #518
Yes that`s what i say

Stronger buildings

Stronger buildings

The buildings are more durable against attacks by catapults and rams. Does not count for the Wonder of the World, but the account wide and unique type count for all other buildings in the Wonder of the Wold village.

    Village wide – 4 times as durable
    Account wide – 3 times as durable
    Unique – 5 times as durable

[2018-05-18 12:17] velhbxtyrj commented on #518
Artefact of the fool:
A unique artifact "Burnt Manuscript" can only give positive bonuses, **if negative, the artifact is automatically turned off**.
These artifacts will change their type and bonus, as well as the sphere of influence every 24 hours (If I understand this phrase correctly, then here it is said about a small and unique). Note: The scope of influence is determined randomly and does n

[2018-05-18 13:47] iopietro commented on #543
Fixed in 0322a0ae497f0623cc9ce546a20f66a47b6b08a3.

[2018-05-18 13:50] iopietro commented on #542
I don't know, most of the JS files are open source/freeware, I think that the only "copyrighted" JS file is unx.js.

[2018-05-18 13:51] #543 closed

[2018-05-18 15:27] Shadowss commented on #542
Can be closed !

[2018-05-18 15:27] #542 closed

[2018-05-18 16:39] velhbxtyrj commented on #541
And if there is such a conclusion? I added another array and made a definition of its output. It will not be cumbersome and superfluous in this code?

[code]

[2018-05-18 17:11] iopietro commented on #541
I think that the code is pretty clean and clear, also it's very easy to edit (I edited just 2 little things), for me, you can implement it.

[2018-05-18 17:27] velhbxtyrj commented on #541
I saw what it was changed. Implemented in https://github.com/Shadowss/TravianZ/commit/25b52f6b1ad6f9b63813085ac47844803132b63b
I decided to make dates more international. And I think that it needs to be changed throughout the code, where they will meet.

[2018-05-18 17:30] iopietro commented on #541
Yeah, D/M/Y is more understandable than M/D/Y

[2018-05-18 20:37] eliopinho commented on #541
@iopietro can you implement automatic add X amount of gold weekly at same time of the medals!?
@velhbxtyrj if @iopietro implement that function can you add to newsbox 2 if that function are active!?

[2018-05-18 22:05] iopietro commented on #541
Yes, but you should propose it as an enhancement (by creating a new issue), so I'll do it after the refactor of the game.

[2018-05-18 22:59] velhbxtyrj commented on #541
@eliopinho You already made such an offer right here #511

[2018-05-18 23:02] velhbxtyrj commented on #541
In general, it would be great to make these newsboxes customizable during installation and from the admin panel. What would every administrator look at the output of the information he needed. Do this either by writing certain tags or by checkbox.

[2018-05-19 09:28] eliopinho commented on #541
@velhbxtyrj love your idea!!
@iopietro yes i know i already propose that, i spoke again because the "notification on a newsbox" :+1:

[2018-05-19 10:50] iopietro commented on #540
I think that I'll do the second thing you said.

[2018-05-19 13:05] velhbxtyrj commented on #511
The issuance of a certain amount of gold is not for all players, but only for getting into any of the top 10. Perhaps better so?

[2018-05-19 13:45] iopietro commented on #511
Yep, I modified the topic by removing the ambiguity.

[2018-05-19 14:11] eliopinho commented on #511
My point of automatic  Gold is for example :
Server at 3x with friends and admin  acount shared with 2people each one contains half pass to ensure fair and square play..
If so, only together can log in..

To remove the work of every week have to log in and give 100gold, to every player , add a feature for this..

Of course can also add an option to give only for top10..
But in my case, i give to e

[2018-05-19 17:08] velhbxtyrj commented on #511
I agree that it is fair to give gold to all players. And the fact that I wrote this to do a separate function.

[2018-05-19 17:35] Shadowss commented on #511
This option must be on installation guide , to let Admin to select what if is active or not.

[2018-05-19 20:07] iopietro commented on #541
I think that if you change `strtotime(date('m/d/Y'))` to `strtotime(date('d.m.Y')) ` you have to change the date format of "START_DATE" too (to d.m.y).

[2018-05-19 20:31] velhbxtyrj commented on #541
I understand that the start date is here? https://github.com/Shadowss/TravianZ/blob/5ef8a1d8d9664eb0c74d4e978bf8656fd8cd7c04/install/templates/config.tpl#L621

[2018-05-19 21:06] iopietro commented on #541
Yep.

[2018-05-20 11:53] velhbxtyrj commented on #395
@iopietro It's already possible to close it?

[2018-05-20 13:59] iopietro commented on #395
Yes, you can do it.

[2018-05-20 14:43] #395 closed

[2018-05-20 19:50] iopietro commented on #518
The next update (with 2 battle fixes) will be the last one for the 8.3.3 version (unless we find some gamebreaking bug).

[2018-05-21 06:09] velhbxtyrj commented on #381
Most likely it works perfectly. Medals were issued three days after the server started.

[2018-05-21 06:09] #381 closed

[2018-05-21 06:19] velhbxtyrj commented on #410
Perhaps after all the published fixes of the forum, this issue can already be closed?

[2018-05-21 09:58] iopietro commented on #410
Yep, it can be closed.

[2018-05-21 10:00] #410 closed

[2018-05-21 15:04] #540 closed

[2018-05-21 15:04] iopietro commented on #540
Fixed in 0d8ea38

[2018-05-21 15:45] velhbxtyrj commented on #381
For example, we have two days or three days or one day for the delivery of medals. They will also be issued through these days at 00:00?

[code]

Or will it be related to the next Monday?

[2018-05-21 15:53] iopietro commented on #381
They'll be related to the next monday.

[2018-05-21 15:57] Shadowss commented on #518
Ok i'll wait

[2018-05-21 15:59] velhbxtyrj commented on #381
Maybe there is some opportunity to implement the issue correctly? If one day is set then the delivery will occur every other day at 00:00 if two days then the delivery will be two days later at 00:00, etc.

[2018-05-21 16:01] iopietro commented on #381
It's already like this, only the first medals are issued on the next monday, even if you set 1 days in the config file.

[2018-05-21 16:03] velhbxtyrj commented on #381
I wanted to write something else but I can not think of anything :)

[2018-05-21 16:09] iopietro commented on #381
Lol, so it's all right :)?

[2018-05-21 16:28] velhbxtyrj commented on #381
I'll still think about this to suggest a solution. Small ideas are already available.

[2018-05-21 16:30] iopietro commented on #381
Ok, good :).

[2018-05-21 16:39] velhbxtyrj commented on #518
@iopietro How correctly calculated Oasis Production Multiplier? Judging from the code it's for example 50 * speed, but on my server it's not. My value is 50 * 100 = 5000 but I can only rob 2400 of one kind of resource.

[2018-05-21 19:01] velhbxtyrj commented on #518
I understood you. The maximum number is calculated as 800 * warehouse multiplier, and this parameter is responsible for production. I thought that it was responsible for roominess and not for production per hour.

[2018-05-21 19:36] iopietro commented on #518
Yep, in the future I'll add a separate parameters for the oasis resources storage.

[2018-05-22 00:43] phaze1G commented on #518
We should lock this thread and make a new one named v3.3.4

[2018-05-22 05:10] Shadowss opened #544 "Tasks for TravianZ Version 8.3.4"
Hello guys,

That tasks remain to fix from version 8.3.3

- [ ] **Rally Point**
  - [ ] Rally point dots #185

- [ ] **Profile bugs**
  - [ ] "Preferences" arent' coded yet. #247
  - [ ] Prerequisites for entering in the vacation mode aren't coded yet.
  - [ ] Make it possible to assign rights for sitters. #338 **I KNOW THIS FUNCTION EXIST ALSO IN T3.6**
  - [ ] On village name , you must leave pl

[2018-05-22 05:10] Shadowss commented on #518
Topic closed. Moved in #544

[2018-05-22 05:10] #518 closed

[2018-05-22 08:43] velhbxtyrj commented on #381
Of course I'm not sure that this is what we need, but still some thought. For example, make a cycle where to specify the date: if the medals interval < 7, then the medals will be issued the next day after the end of the specified interval (and will be issued later on this interval), otherwise if the medals interval = 7, they will be issued on the next Monday and will be issued later Specified inte

[2018-05-22 09:15] eliopinho commented on #544
@Shadowss  update new files on a test server to start testing

[2018-05-22 09:30] Shadowss commented on #544
All files has been updated today. All query are already executed in database. So is up to date.

[2018-05-22 10:08] velhbxtyrj commented on #532
Still something is happening like this. I sent troops into the attack on the way for 15 minutes but after the attack they return with a time of 54 minutes. The hero remained alive. In the attack involved rams and catapults.

[2018-05-22 11:44] eliopinho commented on #532
me too

[2018-05-22 12:00] Shadowss commented on #532
No , tournament square applied even on return!

[2018-05-22 12:02] eliopinho commented on #532
yes i know it.. i ask only to verify if the tournament square is working fine (since the times is the "same" value)

[2018-05-22 12:05] velhbxtyrj commented on #532
It seems to me that this is something that is connected with catapults and the destruction of targets. But this is only an assumption.

[2018-05-22 14:37] iopietro commented on #532
Ok, I need some more informations:

1) Do you've the tournament square? (and if so, at what level?)
2) Do you've some troops speed artifacts?
3) Which troops returned from the attacks?

[2018-05-22 14:38] iopietro commented on #381
I like it!

[2018-05-22 15:12] Shadowss commented on #544
Great ! I think first task is the hardest... I look forward for complete this 👍

[2018-05-22 16:12] velhbxtyrj commented on #544
Still there is one problem related to the alliance. When a player automatically drops out of the alliance (perhaps this is due to some rights of access to the management of the alliance), upon re-acceptance, it automatically receives the previously assigned access rights to the management. In the admin panel in the Alliance: Alliance Positions section, it is listed as a member of the alliance, alt

[2018-05-22 16:17] iopietro commented on #544
You're right, if an alliance member is kicked or leave the alliance, his permissions (related to that alliace) should also be removed.

[2018-05-22 17:34] eliopinho commented on #532
@iopietro

   1 Do you've the tournament square? (and if so, at what level?)
yes at 20 (300%)

   2 Do you've some troops speed artifacts?
train 50% faster

   3 Which troops returned from the attacks?
all the same kinds of troops

   4 Do you have an active artifact of the fool?
no

   5 What version of the game are you using? Because in the latest commit I corrected the displayed time, which was

[2018-05-22 17:59] iopietro commented on #532
Fixed in a4a623bbfaa0b8454727e656d07990fe487ffe81. Try now.

[2018-05-22 21:43] iopietro commented on #544
In the latest commit (f41666cabc07315372b0d6c8d0ee00cd257f4cee) I've separated Automation.php from the UI and users classes (Village.php, Building.php, etc.), it's only a test, I wanna know if everything works fine.

Try it by playing normally, every two seconds the Automation.php file will be called through a recursive JS function (That could potentially lead to a stackoverflow exception after 10

[2018-05-23 04:54] Shadowss commented on #544
Server updated !

[2018-05-23 06:10] TerraSkye commented on #544
@iopietro but every player online will now call the same page every 1 second.
the automation should be handled by a cron. wich restart every minute. and runs for only 60 seconds.

[2018-05-23 06:40] Shadowss commented on #544
@TerraSkye : on original Travian , automation is not run by cronjobs !

[2018-05-23 07:36] iopietro commented on #544
@shadowss, was it before or after the new automation? What did they mean with "catapults" are glitching the whole game?

@TerraSkye, I said many times that's only a test, I've better solutions to handle the whole automation.

Also, you can't refresh the whole automation every 60 seconds. Every attack/construction finished will have a delay of about 60 seconds.

[2018-05-23 07:52] velhbxtyrj commented on #544
At me in general time of an attack after the expiration has gone to a minus.

[2018-05-23 08:20] Shadowss commented on #544
@iopietro : that`s the whole message. Let me ask him.

I receive a screen. And an answer : of course, just a sec, and my troops are not returning back anymore somehow.
1. https://imgur.com/a/W3YEUcs
2. https://imgur.com/a/y4EjqGo

I`m waiting the exact time and date. I update the server in this morning at 8 o'clock ETA+2

[2018-05-23 08:34] iopietro commented on #544
I can't access to your server right now.

[2018-05-23 08:38] iopietro commented on #544
The server is 1 hour above my actual time zone. Is the server time equal to the Romanian time zone?

[2018-05-23 08:59] eliopinho commented on #544
@iopietro im really impressed by the speed of reloading...
very amazing :+1:

[2018-05-23 09:01] iopietro commented on #544
Yep, the loading speed of pages is really good now, but I've to resolve some bug that caused by the new automation system.

[2018-05-23 09:11] Shadowss commented on #544
@iopietro : Server have the same date and time equal to the Romanian time zone. The VPS is hosted in Romania.

Last error_log from home directory

[22-May-2018 23:23:20 Europe/Bucharest] PHP Warning:  unlink(GameEngine/Prevention/demolition.txt): No such file or directory in /home/outlet/public_html/shadowss.ro/travian/GameEngine/Automation.php on line 3832
[22-May-2018 23:23:20 Europe/Bucharest]

[2018-05-23 09:21] iopietro commented on #544
Ok, I'll fix it as soon as I can.

[2018-05-23 16:27] iopietro commented on #544
Fixed in: fca22ac98b86cbe4610575e60303399fe9c8bd18. Troops are still doubling (attacks will be performed 2 times in a row sometimes) and this is good, it's a good opportunity to finally fix the doubling troops bug.

[2018-05-23 16:45] Shadowss commented on #544
@iopietro : Server updated.

Double troops bug dissapear when i change database to InnoDB and from NULL to NOT NULL

[2018-05-23 17:02] iopietro commented on #544
Yep, it never disappeared, it's because 2 (or more) users can execute the method "sendUnitsComplete" at the same time. To fix this bug, we need a bettere "lock" system.

[2018-05-23 17:20] Shadowss commented on #544
I changed all in database from unsigned to signed.

IonCube explain me this :

As you can see, unsigned has minimum value of ZERO (NULL, 0) and if it goes below 0 it will go to max value 4294967295 - OVERFLOWED_VALUE , this is why you have many troops.
Looking at PHP doc's (PHP: Integers - Manual), Unsigned integer is NOT supported but can be parsed.

function parse_unsigned_int($string) {
$x = (f

[2018-05-23 17:37] iopietro commented on #544
Yes, but that was another bug, generated by overflowing an unsigned integer (by trying to bring it to -1, but it's not possible for an unsigned integer, so it will be assigned to the maximum integer 32 value = 4294967295).

The doubling troops bug is a different bug, caused by calling the method "sendUnitsComplete" at the same time by two or more users. This shouldn't be possible with our actual l

[2018-05-23 18:09] iopietro commented on #544
I've removed the timer, because with this code, it caused too much load to the server. Automation.php will be now called only once for page refresh.

[2018-05-23 23:31] iopietro commented on #544
Fixed in 8605996533f5aa7b7e0c7ecf4fc6633859f7ffad. @Shadowss update your server :).

With the rework of the "lock" system I should have resolved a lot of problem related to "two or more users trying to access to the same method".

[2018-05-24 04:38] Shadowss commented on #544
Someone on game send me bugs :))))

https://imgur.com/a/EKb6h8n

[2018-05-24 06:34] Shadowss commented on #524
Peace system picture message :

https://user-images.githubusercontent.com/5437151/38741765-96f7a462-3f32-11e8-90ee-20149b1ae3f4.jpg

Artifact system picture message :

https://user-images.githubusercontent.com/5437151/38771387-5c1b3884-401a-11e8-95f2-06599cc08b14.jpg

[2018-05-24 09:02] eliopinho commented on #544
@iopietro @Shadowss

units searched desapered
and cant search again in academy...

looking for more ;)

[2018-05-24 09:12] Shadowss commented on #544
Let me reinstall all server.

[2018-05-24 10:19] #494 closed

[2018-05-24 10:52] iopietro commented on #544
Try to do a clean installation: delete all files (or overwrite them with the new ones), delete all tables on the database and then install the server.

[2018-05-24 10:56] iopietro commented on #544
The reported bugs were caused by the doubling troops bug, the new lock system wasn't present yesterday and it should have fixed them.

[2018-05-24 11:20] Shadowss commented on #544
I delete all files and database. And recreate all. Same error

[2018-05-24 12:29] iopietro commented on #544
Yep, it is, that feature is available in Travian: Fire and Sand/Legend and Travian Kingdom.

[2018-05-24 12:33] velhbxtyrj commented on #544
So we have a travian T3.6 and as far as I can remember the points were distributed exactly to one player who was attacked.

[2018-05-24 12:36] iopietro commented on #544
Yes, only the defender gained points, the other players gained nothing.

[2018-05-24 12:38] iopietro commented on #544
@Shadowss, I reinstalled my local server and everything works fine (after deleting alla database tables, config.php file and var/installed file), so I don't know.

[2018-05-24 13:20] eliopinho commented on #544
@Shadowss
1-
via command drop all database and user
create new database and assign a new user to it with all permissions.
after that flush all previlieges

2-
make sure you do not have any files on html folder including files start with .file1 .file2 etc...
rm -R /allfileandfolder/*

3-
copy new content

4-
apply new permissions!
chmod -R 777 /filesandfolder/

5- owner!!
chown -R www-data:www-data

[2018-05-24 14:51] Shadowss commented on #544
I already try all method , i receive black page on process. I don`t know why.

This is all what i receive

[24-May-2018 17:48:31 Europe/Bucharest] PHP Warning:  mysqli_error() expects parameter 1 to be mysqli, boolean given in /home/outlet/public_html/shadowss.ro/travian/GameEngine/Database.php on line 460
[24-May-2018 17:48:31 Europe/Bucharest] PHP Warning:  mysqli_query() expects parameter 1 to

[2018-05-24 15:09] iopietro commented on #544
I advice you to make it x500, so people can rebuild their villages faster.

[2018-05-24 16:02] Shadowss commented on #544
Yes I know. You can modify yourself. You are admin. I'm not at home

[2018-05-24 16:33] velhbxtyrj commented on #544
There is one idea. How do you look at showing in the game instruction the information about the fact that new innovations have been added to the server? For example, if we have an ordinary T3.6 on the server without the additional functions included, then it will look like usual:

![default](https://user-images.githubusercontent.com/21306412/40497729-ae76e9ea-5f85-11e8-810f-d0f2d9419f23.jpg)

But

[2018-05-24 16:37] iopietro commented on #544
Yeah, that's a good idea :)!

[2018-05-24 16:48] velhbxtyrj commented on #544
Just so will be the opportunity to introduce players to the new that is implemented on a particular server. And the player reading this information will not ask a question about why in the original Travian it works quite differently than on your server? Also, we can add some information to the newsbox that the server includes new features.

![default](https://user-images.githubusercontent.com/2130

[2018-05-24 16:51] iopietro commented on #544
Yes, that's why it's a good idea. Yeah we can do it, maybe we should write every new feature enabled/disabled.

[2018-05-24 16:53] velhbxtyrj commented on #544
I will transfer this sentence to a new Issue

[2018-05-24 17:00] velhbxtyrj opened #545 "To organize in the instructions the display of new functions"
There is one idea. How do you look at showing in the game instruction the information about the fact that new innovations have been added to the server? For example, if we have an ordinary T3.6 on the server without the additional functions included, then it will look like usual:

![default](https://user-images.githubusercontent.com/21306412/40497729-ae76e9ea-5f85-11e8-810f-d0f2d9419f23.jpg)

But

[2018-05-24 18:46] iopietro commented on #544
Yeah, before it was very slow, about 1/2 seconds to load a page, now they're all loaded immediately :). That's because Automation.php is completely detached from the main script :).

[2018-05-24 18:46] Shadowss commented on #544
@eliopinho : what permision ??

[2018-05-24 18:48] eliopinho commented on #544
Verify if the folder and files of message was a chmod 777

[2018-05-24 18:50] Shadowss commented on #544
Hmm , can you give me express folder ? I`m not at home right now , and i don`t have acces on ftp

[2018-05-24 18:53] eliopinho commented on #544
@Shadowss if im not mistake GameEngine/notes

@iopietro brewery of teutons are coded? The catapults "random" works, but my question is, the troops morale counts on a battle system ?

[2018-05-24 19:09] velhbxtyrj commented on #544
@Shadowss For this there is no need to log into your account, the same with an oasis 0/12

[2018-05-24 19:14] velhbxtyrj commented on #544
@Shadowss @iopietro Huh. This happens with all oases that are located on the coordinate X = 0 and also Y = 0

[2018-05-24 19:30] iopietro commented on #544
@eliopinho, The brewery battle bonus isn't coded yet, but the malus are coded (50% less chiefing efficiency and random catapults)

@velhbxtyrj What does happen?

[2018-05-24 19:31] velhbxtyrj commented on #544
It is impossible to attack oases on coordinates, only updating the page occurs.

[2018-05-24 19:32] iopietro commented on #544
Yeah I saw now, we should add it to the bug list.

[2018-05-25 01:55] cosme12 commented on #544
Not sure if I should post it here, but in the test server when you try to build something it keeps reloading the page but never gets completed. You must logout to get your building finished.

[2018-05-25 04:28] Shadowss commented on #544
@iopietro : 2 bugs that is necessary to fix urgent.

1. Cannot delete messages , i already give 777 permissions to all files and folders
2. Alliance founder cannot assign position for himself. Only for others. I mean to change Alliance founder from front panel.

[2018-05-25 08:17] Peppi01 commented on #544
I am testing the game on your Server. somitmes is see this, maybe is a bug.
see the pic: (Time from Cropland)
![cropland](https://user-images.githubusercontent.com/39616804/40533979-f74010b6-5ff3-11e8-81ed-0a3c38f2c313.jpg)

[2018-05-25 09:11] eliopinho commented on #544
@Peppi01 this is normal i think..
because the elevated server speed when the timer reaches 0:00:0 sometimes starts counting negative until the pages refresh..

i do not know if necessary to do anything, right @iopietro ?? :)

[2018-05-25 09:51] iopietro commented on #544
@Shadowss, Ok, I'll add the third bug to the list, have a nice holidays :).

@cosme12, Do you have JS enabled?

@Peppi01, Yes, that's a bug, I noticed it yesterday (by playing as a normal player) but I forgot to add it to the list. Thanks for the report anyway and keep testing :).

@eliopinho, Unfortunately the second is a bug, you can build level 20 building in 0 seconds even in a x1 speed.

[2018-05-25 13:50] iopietro commented on #544
@Shadowss I set the server speed to x1000000 to see if everything works fine even at very high speed (it should), I'll set it back to a normal value tomorrow (I want to test it for 1/2 days).

[2018-05-25 15:11] iopietro commented on #544
@Shadowss, An error has occurred somewhere (maybe with artifacts), I need the error log to find and fix it, otherwise no one will be able to attack again.

[2018-05-25 15:47] iopietro commented on #544
Fixed in 11c3d441681e80bc6999acf52ab13f6fd65d4fd0 (I know you can't upload files).

[2018-05-25 15:53] Shadowss commented on #544
Tomorow morning i will try to update

[2018-05-25 16:04] iopietro commented on #544
Good, when you'll do this, there is no need to delete movements, after the update of the files, everything will flow as always.

[2018-05-25 16:49] Shadowss commented on #544
Great. Please take a look on deleting messages. Cannot delete messages

[2018-05-27 13:38] Peppi01 commented on #544
In your Demo Site, i can not Research anyone in Academie, in my 2. and 3. Village. Research dont work.
And i can not Level upgrade in blacksmith. Dont work.
Important: in my first Village (capital) it work. But in my 2. and 3. Villages this things dont work.
maybe is a bug ?

[2018-05-27 14:10] iopietro commented on #544
Please, provide to us more informations:
1) In which sense you can't reasearch or upgrade things in blacksmith and armoury (maybe provide a video or a screenshot)?
2) Don't you see any "Upgrade" or "Research button?
3) There's a loop and and infinite refresh of the page when the research is terminated?

[2018-05-27 17:30] Peppi01 commented on #544
1. Allways i cant do this in my 2. or 3. Village. In my capital Village it works fine.
2. Buttons are all there, is ok. if i klick them, Count is running. but noting is done. see photos:
![blacksmith01](https://user-images.githubusercontent.com/39616804/40588827-1b651e88-61d3-11e8-84db-097f45e38e08.jpg)
now i klick the button... and Count is running, see pic 2:
![blacksmith02](https://user-images.

[2018-05-28 18:46] velhbxtyrj commented on #544
@iopietro I just looked at the error log of my newly installed server and there are some warnings (basically that the file does not exist), it makes sense to show you? In fact, the server works without any problems.

[2018-05-28 18:58] iopietro commented on #544
@Peppi01, Thanks, it seems that some ABData and research data didn't get created during the foundation of the village.

@velhbxtyrj, Yes, post them in here.

[2018-05-28 19:04] Shadowss commented on #544
I close the server until we figure it out how to resolve the peoblem with error_log. I must to delete the error log every 10 minutes because something make it 8-9GB of data. I cannot even open it...

[2018-05-28 19:43] velhbxtyrj commented on #544
[error.log](https://github.com/Shadowss/TravianZ/files/2046034/error.log)

[code]

[2018-05-28 19:48] velhbxtyrj commented on #544
Initially I turned on the register_globals variable on the server and the server started to give out a bunch of errors due to this variable and the server stopped working (it seems 500 error). After I turned it off everything worked, I was able to start the server installation.

[2018-05-28 20:42] velhbxtyrj commented on #544
Basically, my error log is clogged with errors about nonexistent files.

I also noticed that if we are running out of construction time (for example, there are 5 seconds left until completion) and go to another page, the time will go to minus, if we go back we will see a minus some time (how many seconds we did not return to that page) after which the page will be updated and the construction will

[2018-05-28 20:56] iopietro commented on #544
@Shadowss, Lol, you should truncate s1_movement, s1_ndata and s1_attacks

@velhbxtyrj, Those errors aren't generated by PHP script errors, so we're "safe" (except for 1 or 2 erros, from the admin panel).
Yes, that's because Automation.php is called at the refresh of the page, so it's normal, this is only a test, in the future I'll use better solution for calling the Automation.php file.

[2018-05-29 07:44] Shadowss commented on #544
Done. I truncate that table. We have an issue 9n storage multiplier. I changed all back to normal but granary and warehouse are still the same 16000000000

[2018-05-29 12:55] Peppi01 commented on #544
Attacks dont work right. the time is in minus (-) and i wait and wait...  i have already reload the site...
see:

![attacksbug](https://user-images.githubusercontent.com/39616804/40660079-8cc1ea94-633f-11e8-9a26-ba5144e18b21.jpg)

[2018-05-29 12:57] Peppi01 commented on #544
after a wile.. now it is -310 ....i still waitnig...

[2018-05-29 13:57] iopietro commented on #544
@Shadowss You have to delete all files in "GameEngine/Prevention" except for lock.lock, empty.txt, index.php

[2018-05-29 14:00] Shadowss commented on #544
Done , files deleted

[2018-05-29 14:04] iopietro commented on #544
It's normal, files have to reappear, they were probably locked due to the s1_movement deletion. Anyway, it seems that attacks can't be done, post the last errors here.

[2018-05-29 19:06] velhbxtyrj commented on #544
Another. Perhaps this has already been fixed earlier. It is necessary to make that in the victorious text nothing was written about natars, administrators and multihunters. Only players must participate. As it was done in the top 10. For example: now if natars have the largest population, then it is written that the nathars developed the largest empire.

[2018-05-29 19:13] Shadowss commented on #544
Can be set from admin panel

[2018-05-29 21:33] iopietro commented on #544
Yes, but in the admin panel you can only the Natars' statistics visibility

[2018-05-29 21:57] iopietro commented on #544
Fixed in f40d43b6e623d4750436b3d78965d850c42774c6.

[2018-05-30 18:12] iopietro commented on #544
I removed this:
Issue #304 must to be fixed. Points must go on troops owner not on what player defend

Because it's not a bug, but a new feature (of the T3.6, of course).

[2018-05-31 20:00] Peppi01 commented on #544
I think something is wrong with the news system. When I write a message to a player, it is often sent twice or three times ...
I see that in my "sent" folder

[2018-06-01 09:06] eliopinho commented on #544
@iopietro i send you a message in test server, please se my acount to understand better..

oasis bonus are wrong.

actually are coded in this way

single resource bonus 25% extra
double resource bonus 25% extra each
single large crop 50% extra

the error is, when you have an oasis of single clay , iron , lumber the extra production should be 50% and not 25% !

[2018-06-01 10:01] iopietro commented on #544
@Peppi01, I don't know how to reproduce it.

@eliopinho, It's not a bug or an error, single resources bonus, gives you 25% of extra production. Except for crop, which gives you 50% of extra production.

[2018-06-01 13:06] eliopinho commented on #544
sorry , my mistake.. only on newer versions has oasis at 50%

[2018-06-01 13:41] iopietro commented on #544
No problem :). I did a mistake too, brewery attacking bonus is already counted in the battle formula, so the brewery is coded at 100%.

[2018-06-02 15:33] Shadowss commented on #544
Back at home. Server updated

[2018-06-03 00:43] diogorocha18 opened #546 "Administrators currently"
Good afternoon,

Given all the effort for this project, I wonder if the administrators who are currently taking care of the project can provide their emails so that you can get in touch with them for a pretty good proposal.

Waiting for answers.

Greetings,
Diogo Rocha

[2018-06-03 06:28] Shadowss commented on #546
Hello,

We can provide you skype id : cata7007. Just remember this is a fully free project.

Regards,
Catalin

[2018-06-04 06:21] velhbxtyrj commented on #544
This may be due to the appearance in the game of the account of Natars? Since on my server the medals were issued without duplication. And I noticed that the appearance of the Natars on the server corresponded to the issuance of medals at the end of the day at 00:00.

[2018-06-04 06:22] Shadowss commented on #544
Maybe , but is still a bug.

[2018-06-04 06:28] Shadowss commented on #544
Ahh you are right about Natars , maybe is influenced by that.

[2018-06-04 06:50] Shadowss commented on #544
@iopietro

Can you look at that code ? Is for artifacts on map.

`<?php
#################################################################################
##              -= YOU MAY NOT REMOVE OR CHANGE THIS NOTICE =-                 ##
## --------------------------------------------------------------------------- ##
##  Filename       map.tpl                                                     ##

[2018-06-04 19:44] velhbxtyrj commented on #544
@Shadowss @iopietro Probably here it should be written: "Upgrade Armoury" ?
Resources are not enough is yes. But I already have the level of improvement the same as the level of the Armoury. Most likely this inscription: "Too few resources", should appear after I increase the level of Armoury.
I think the same thing should be with the Blacksmith.

![default](https://user-images.githubusercontent.c

[2018-06-05 05:35] velhbxtyrj commented on #544
Another mistake with the NPC trader. When we go inside the village in an empty cell to build a new building and we do not have enough resources for this, the opportunity is shown to make the exchange of resources using the NPC trader (it was added that if the sum of all resources is less than the total amount of all resources for the building, then the link to the NPC of the trader is not displaye

[2018-06-05 06:54] Shadowss commented on #544
I updated the entire topic with Admin Panel bugs and rats. Please leave it like this.

[2018-06-05 15:38] Shadowss commented on #544
@eliopinho : this happen because Automation is detached from the UI. Will be fixed after @iopietro will finish the refactor of automation

[2018-06-05 23:45] iopietro commented on #544
@eliopinho It could be resolved by using cronJobs or by using an external program, which calls Automation.php every second 24/7. It a solution I've though about, I'll probably make it and let the Admin choose the better option during the installation.

[2018-06-06 00:18] iopietro commented on #544
@eliopinho Starvation works fine in my local server and in the Shadowss' server, I logged into your account, and I saw that troops die correctly when there's a negative amount of crop.

[2018-06-06 00:30] iopietro commented on #544
@Shadowss, The map in the multihunter panel is now complete.

[2018-06-06 04:59] Shadowss commented on #544
@iopietro : Great , thanks , server updated.

[2018-06-06 10:51] velhbxtyrj commented on #544
Does this item refer to bugs? I do not remember this in T3.6. To search for 15 and 9 with oases of 50%, 100%, 150% for crop, third-party services were always used since such an opportunity was not available in the game. This is added in the later versions of the game.

[2018-06-06 10:53] Shadowss commented on #544
Go to Plus => click on ? on Gold Club and read

Gold club
You will only be charged once for entry into Gold club. Afterwards you have access to various exclusive features. Some of the exclusive features are free, others cost a defined amount of gold per use.

Free Gold club features:

    Raid list
    Raid statistics
    Let merchants go thrice
    **Search for 9 and 15 croppers including oases**

[2018-06-06 13:04] velhbxtyrj commented on #544
@Shadowss Then it's necessary to add this to the bug list: "Assign master builder up to 3 construction orders". Although I do not remember that.

@iopietro There is one more error with evasion settings. I can not set the amount, and when it is saved it is constantly reset to zero. I set 1 or 2 or 3, I click OK and zero is displayed when updating the page.

[2018-06-06 13:10] velhbxtyrj commented on #544
@iopietro @Shadowss And I also read one moment about evasion settings. In the table, the Reinforcement column means not the reinforcements that someone sent us from the players and they are in the village, but our reinforcements are personally ours, which are returned from the farm or from somewhere else.

[2018-06-06 19:52] Peppi01 commented on #544
![travian_fehler](https://user-images.githubusercontent.com/39616804/41061690-fae8849a-69c2-11e8-8bd3-8d2bbc621d79.jpg)

"This feature is NOT included in the gold club!"
I have Gold Club and I can use it anyway. Thus, this information is not correct. Or?

[2018-06-06 21:21] iopietro commented on #544
@Shadowss @velhbxtyrj, I remember that crop oasis near 15c and 9c were present in the crop finder.
But I don't remember the 3 master builder queue.

@velhbxtyrj So, if I've understood correctly, in the "Reinforcements" column should be displayed our troops that can evade the attack?

@Peppi01 It means that if you buy the gold club, you won't have free "Complete construction orders & research immed

[2018-06-06 22:23] Peppi01 commented on #544
@iopietro yes i know, and i have Gold, and i can do this all. i can "Complete construction orders & research immediately" with gold club

[2018-06-07 00:32] iopietro commented on #544
You can do it by paying gold, but you can't do it free.

[2018-06-07 04:47] Shadowss commented on #544
Good morning. We have a problem with Artifacts village vs WW Village

WW Village troops (there are few troops)

![ww village](https://user-images.githubusercontent.com/1140613/41078694-f2c77d16-6a26-11e8-863f-d6baa216d925.png)

Artifacts troops (there are very big amount of troops)

![troops on plan](https://user-images.githubusercontent.com/1140613/41078703-fe7af91c-6a26-11e8-8c7e-35b8fb859119.pn

[2018-06-07 05:40] #546 closed

[2018-06-07 05:45] velhbxtyrj commented on #544
@iopietro The "Reinforcements" column should show our personal troops who return home (to their village) with any attack or with any reinforcements. Since during the attack on the village troops will go into the forest ten seconds before the attack and those troops that return later can not leave. I think that this should probably be something like that.

Another point about oases. In oases, the p

[2018-06-07 05:57] Shadowss commented on #544
I think this is the priority of that project : Divide the Automation class in 4/5 subclasses and the "SendUnitsComplete" method in some submethods (seeing a method with 2k of codes hurts my eyes).

[2018-06-07 10:20] iopietro commented on #544
@velhbxtyrj They're all coded, except for one thing, you can queue a level 11 resource field and then change the capital, to have a level 11 field in a non-capital village.

@Shadowss
1) I'll re-look the formula, it's strange.
2) It wasn't in the original T3.6 travian, but it could be added as an enhancement (so as a extra function).
3) Wasn't your alliance name, already "Extermination Squad"?
4)

[2018-06-07 10:27] iopietro commented on #544
@velhbxtyrj, The oasis production can be changed through the installation, but yes, every oasis should have a different production, based on their base bonus.

[2018-06-07 10:39] Peppi01 opened #547 "This new script can run with https mode ?"
Hello, I would be very interested in whether this code can also be operated with "https"?
thank you

[2018-06-07 10:40] Peppi01 commented on #544
thanks iopietro

[2018-06-07 10:55] velhbxtyrj commented on #544
@iopietro This item is a bug, it was possible before fixing this error by the developers, so do not need to encode it :D

[2018-06-07 11:05] Shadowss commented on #547
Server is moved on an secure connection : https://travian.shadowss.ro/dorf1.php

[2018-06-07 11:05] #547 closed

[2018-06-07 12:55] velhbxtyrj commented on #544
@iopietro @Shadowss Apparently due to the fact that the parameter is now: "Natars Units Multiplier? 1" there were few troops in the villages and oases. Initially, you apparently had this parameter much higher.

[2018-06-07 13:30] Shadowss commented on #544
No. Same parameter on server instalation and natar was released

[2018-06-07 13:44] iopietro commented on #544
Yep, I meant that it was the only one not coded yet.

[2018-06-07 13:45] iopietro commented on #544
Oasis have their own units multiplier, I'll see why there are few troops in WW villages and a lot in artifact villages.

[2018-06-07 16:31] velhbxtyrj commented on #544
We have problems with the scouts of the Romans and the consumption of the crop. Perhaps this is with some troops connected. But I have so far noticed this only with the scouts of the Romans. If scouts of the Romans goes to the target then everything is ok. After scouts of the Romans reconnoitred the target and returns home, they cease to consume the crop. After returning to the village, they again

[2018-06-07 17:21] Shadowss commented on #544
@iopietro : evasion not work. Troops remain o  position in front of an attack

[2018-06-07 22:52] iopietro commented on #544
@velhbxtyrj Thanks for the tests, I should increase the WW village's troops.

@Shadowss Did the troops return from a previous attack or reinforcement?

[2018-06-08 03:42] Shadowss commented on #544
@iopietro no attacks no reinf etc

[2018-06-08 12:17] Shadowss commented on #544
We have a problem on WW Village. Let me explain

The problem is ONLY WONDER OF THE WORLD building is not counted on POPULATION

Screen before build level 96 ( level 96 = 10 population )

![ww](https://user-images.githubusercontent.com/1140613/41157581-f0db710c-6b2e-11e8-835a-b5bb6fb39455.png)

After construction is finished on level 96 (SAME POPULATION)

![ww2](https://user-images.githubuserconten

[2018-06-08 17:17] iopietro commented on #544
Fixed some of them in a8d6b9c35744894bf4dda7e87249c0d40f2e8bf8 and increased the number of Natars' troops in WW Villages by a x10 factor.

[2018-06-08 19:34] velhbxtyrj commented on #544
@iopietro @Shadowss Perhaps these items should also be added in the first comment?

- [ ] Trops
  - [ ] We have problems with the scouts of the Romans and the consumption of the crop. Perhaps this is with some troops connected. But I have so far noticed this only with the scouts of the Romans. If scouts of the Romans goes to the target then everything is ok. After scouts of the Romans reconnoitred

[2018-06-08 20:33] iopietro commented on #544
Yep, good job on organizing them in a unique list, you can add them to the first comment :).

[2018-06-09 00:09] iopietro commented on #541
I love and hate the PHP at the same time, lol.
The code is good, so you can implement it.

[2018-06-09 06:43] Shadowss commented on #544
@iopietro this remaining

We have a problem on WW Village. Let me explain

The problem is ONLY WONDER OF THE WORLD building is not counted on POPULATION

Screen before build level 96 ( level 96 = 10 population )

![ww](https://user-images.githubusercontent.com/1140613/41157581-f0db710c-6b2e-11e8-835a-b5bb6fb39455.png)

After construction is finished on level 96 (SAME POPULATION)

![ww2](https://us

[2018-06-09 10:27] iopietro commented on #544
I already fixed them in a8d6b9c.

[2018-06-09 10:53] velhbxtyrj commented on #544
There is one more inconvenience when filling out the warehouses with resources, if we update the page once, then the resources will be displayed correctly. If we update the page after some time, then those resources that have not arrived will not be displayed, the resources will be displayed old, if we refresh the page, the resources will be displayed correctly.
For example, in the evening we empt

[2018-06-09 11:14] iopietro commented on #544
Yep, I know, it will be fixed when I'll do a serious OOP structure, it happens because Village.php is loaded after the UI.

[2018-06-09 11:37] Shadowss commented on #544
@iopietro i updated the server. You can enter in my account and try to build ww. Nothing changed at population

[2018-06-09 13:08] velhbxtyrj commented on #544
@iopietro Perhaps to win the artifact is likely to leave only record number 2? And to destroy the village player only record number 1?

![default](https://user-images.githubusercontent.com/21306412/41191931-4e0e70e2-6bff-11e8-8d01-3317fbf3cc8b.jpg)

[2018-06-09 13:20] velhbxtyrj commented on #544
Perhaps with the activation of artifacts there are problems. I captured the artifact and it became immediately active. Although it should pass a minimum of 30 minutes before activation.

[2018-06-09 13:27] velhbxtyrj commented on #544
@iopietro You can go to my account and look at the village number 4. I added it through the admin panel.

[2018-06-09 16:19] iopietro commented on #544
@velhbxtyrj Yep, lol, unlucky.
Probably someone edited that village in the admin panel, but wrongly.

[2018-06-09 17:07] velhbxtyrj commented on #544
@iopietro I created it as usual. But something went wrong. Inside the village, I built buildings from scratch. They immediately became level 20, the cells themselves for construction are unclear how they were created. In half the cells, resources are not required for construction and when building a building it immediately becomes level 20. This is clearly visible in the mill.

[2018-06-09 17:08] iopietro commented on #544
Did you create (from the admin panel) it in an occupied cell?

[2018-06-09 17:10] velhbxtyrj commented on #544
It was a free cell (Abandoned valley)

[2018-06-09 17:11] velhbxtyrj commented on #544
Maybe I misunderstood the question. I added a new village through the admin area in the free cell (Abandoned valley).

[2018-06-09 17:12] iopietro commented on #544
Ok, so I don't know what's the problem, can you change your account password so I can verify it from your account?

[2018-06-09 17:15] iopietro commented on #285
Fixed/completed in 0ad0100b3fb0140161b46fa9e1d394cb34eafccc.

[2018-06-09 17:15] #285 closed

[2018-06-09 17:15] iopietro commented on #517
Fixed/completed in 0ad0100b3fb0140161b46fa9e1d394cb34eafccc.

[2018-06-09 17:15] #517 closed

[2018-06-09 17:16] velhbxtyrj commented on #544
I wrote the password in the game message

[2018-06-09 20:07] velhbxtyrj commented on #544
After I replaced the capital in the Palace should be written: `define("CAPITAL","This is your capital");`
This inscription is not displayed, instead of it the opportunity to change the capital again is displayed.

https://github.com/Shadowss/TravianZ/blob/0ad0100b3fb0140161b46fa9e1d394cb34eafccc/Templates/Build/26.tpl#L65

[2018-06-09 22:41] iopietro commented on #544
Fixed the last one in f264cb6b8d63276aa7bed60a3a5b34f8f3965808.

[2018-06-10 08:22] Shadowss commented on #544
Good morning guys,

In reports we have a graphical problems

![reports](https://user-images.githubusercontent.com/1140613/41199775-62363bc6-6ca0-11e8-9ffc-9613c9e7cac2.png)

![reports2](https://user-images.githubusercontent.com/1140613/41199776-66a3f540-6ca0-11e8-9d5d-2f0e274f1801.png)

There are white words on that table. Must to be in black because we don`t see them. And the line are doubled

[2018-06-10 09:21] velhbxtyrj commented on #544
This is in my browsers Google Chrome, Mozilla Firefox, Internet Explorer, Microsoft Edge:
Try clearing your browser's cache.

![default](https://user-images.githubusercontent.com/21306412/41200163-34284afa-6ca8-11e8-8afc-df6576776920.jpg)

![default](https://user-images.githubusercontent.com/21306412/41200194-8900f4be-6ca8-11e8-9d3c-5e93949ef3a3.jpg)

[2018-06-10 10:50] iopietro commented on #544
Yep, I fixed that 2/3 commits ago, but I forgot to change the version of CSS files.

[2018-06-11 05:17] Shadowss commented on #544
Ahh yes , just refresh and works fine.

@iopietro @velhbxtyrj : I remember in T3.6 version are only 4 types of medals

1. Attacker of the week = ![t2_1](https://user-images.githubusercontent.com/1140613/41213685-90081b78-6d4f-11e8-87b7-91b9292432b9.jpg)
2. Defender of the week = ![t3_1](https://user-images.githubusercontent.com/1140613/41213690-96e6df2e-6d4f-11e8-939e-8e84939151b7.jpg)
3. Robbers

[2018-06-11 07:55] velhbxtyrj commented on #544
@Shadowss It seems nothing is missing from the files
[New display of oases.zip](https://github.com/Shadowss/TravianZ/files/2089088/New.display.of.oases.zip)

[2018-06-11 08:02] Shadowss commented on #544
Great , i`ll update the git

[2018-06-11 08:58] velhbxtyrj commented on #544
In the section "Server Maintenance", when this option is enabled, maybe it makes sense to turn off hunger?

[2018-06-11 09:03] Shadowss commented on #544
@velhbxtyrj : yeah it`s a great idea. On real Travian hunger is deactivated under maintenance.

[2018-06-11 09:57] velhbxtyrj commented on #544
As for the medals, I do not remember.

[2018-06-11 11:32] Shadowss commented on #544
Bounty anomany

![anomaly](https://user-images.githubusercontent.com/1140613/41229344-4e0a32e4-6d84-11e8-9f69-8de1cad71dd5.png)

[2018-06-11 11:35] eliopinho commented on #544
@iopietro npc calculator trade not working as expected..

For example i do an npc to train some type of troops , after i train the troops sometimes big amounts of resources left to do other npc and train again..

Should use "all" avaliable resouces to use only one time npc trade, (if was enougth space on warehouses etc)

[2018-06-11 11:38] Shadowss commented on #544
No. It is correct. Same system is in real travian.

[2018-06-11 11:39] eliopinho commented on #544
Ok then ;-)

[2018-06-11 11:44] eliopinho commented on #544
Yes i know that, but if you have for example 10000 resources each and a warehouse of 80000

Makes sense spend all of the resources in once npc trade  (not left for example 0 iron and 5000 each)

All the numbers are example only..

[2018-06-11 12:18] Shadowss commented on #544
Does anyone full change log of T3.6 ?

[2018-06-11 14:12] iopietro commented on #544
@Shadowss, I don't have it.

@eliopinho, NPC trading works like in the original Travian, what's the bug/problem with it?

[2018-06-11 14:21] eliopinho commented on #544
@iopietro if works like real travian no problem then..
i comment thinking the distrubution was not correct sometimes..
but i do not remember if in real one is the same, (i never have gold in official servers) :)

[2018-06-11 15:44] iopietro commented on #544
@Shadowss You're right, I unfortunately don't remember very well the "Climber of the week" medal (I can remember well the other three).

[2018-06-11 15:48] Shadowss commented on #544
Also there are in intro screenshot. Must to be removed and leave only four if this. Last medal that i post must to be removed. Clibers of the week exists in t3.6 but four image not five. If you understat what i mean

[2018-06-11 16:27] velhbxtyrj commented on #394
Perhaps this issue can already be closed?

[2018-06-11 16:29] velhbxtyrj commented on #524
@iopietro @Shadowss I delete some of the items here, since they are duplicated in another issue and refer to bugs:

[2018-06-11 16:37] iopietro commented on #394
Yep.

[2018-06-11 16:37] #394 closed

[2018-06-11 16:38] iopietro commented on #524
You did well :).

[2018-06-11 17:07] velhbxtyrj commented on #544
@Shadowss Most likely this is real information. Unless of course you meant it :)

Dear players!

We present to your attention the version of Travian 3.6, the changes in which are aimed mainly at supporting players who play alone.

General changes:

* Rally Point: No more than 5 movements trained in your own village (assault, raids and reinforcements) troops to each level of the building (Only new

[2018-06-11 17:37] velhbxtyrj commented on #544
It seems the artifacts were from version T3.5:

https://github.com/Shadowss/TravianZ/issues/518#issuecomment-384439242

[2018-06-11 17:49] iopietro commented on #544
Yes, T3.5 had artifact s

[2018-06-11 17:55] Shadowss commented on #544
Hmm i play in 2009 i thing T3.5 and there are no artifacts

[2018-06-11 18:07] velhbxtyrj commented on #544
@Shadowss For an architect, do you mean it?

[2018-06-11 20:34] iopietro commented on #544
The "Master builder" I think.

[2018-06-12 04:54] Shadowss commented on #544
I refer to the Stonemason's Lodge.

Post from 06.04.2008 =>
![sat interior 06 04 08](https://user-images.githubusercontent.com/1140613/41270777-c26c4ce4-6e15-11e8-8d9f-fcad801fdbf4.jpg)

[2018-06-12 05:04] velhbxtyrj commented on #544
Look at the icons. It's still a T3 travian. Travian T3.6 already updated icons. They have been updated from version T3.5.

[2018-06-12 05:05] Shadowss commented on #544
So i play Travian T3? :))

[2018-06-12 05:13] velhbxtyrj commented on #544
T3 has several stages of development. Each of which has many of its stages of development.
June 30, 2006 (Start of Travian T3)
March 18, 2007 (Official presentation of "classic" servers)
May 30, 2009 (The beginning of version T3.5)
June 15, 2009 (The beginning of the version of T3.51)

All this is arranged according to the dates in my message: https://github.com/Shadowss/TravianZ/issues/518#issuec

[2018-06-12 05:18] Shadowss commented on #544
Thanks

[2018-06-12 05:28] velhbxtyrj commented on #544
@iopietro @Shadowss One more moment connected with natars:

The removal of the lock from artifacts, villages of Natar, building scrolls in the 3 version of the game occurs the day after their appearance in the game. In the 4th version of the game, artifacts and building scrolls appear unlocked.

[2018-06-12 10:19] velhbxtyrj commented on #544
I found some information from the archive. Here are the links:

http://archive.forum.travian.com/showthread.php?t=107504

http://archive.forum.travian.com/showthread.php?t=116993

http://archive.forum.travian.com/showthread.php?t=128837

If it's very interesting, then you can read this thread of the forum:

http://archive.forum.travian.com/forumdisplay.php?f=288&page=25

[2018-06-12 12:03] Shadowss commented on #544
then there are free features in the Gold club:

    Merchants run three times (if selected)
    Farm list - you can setup to easy find and attack your farms
    **15 and 9 cropper finder with oasis bonuses filter**
    Farm statistics easy overview how effective your raids to a specific village have been

So we have oasis in crop finder

[2018-06-12 13:21] iopietro commented on #544
@velhbxtyrj, Yes, they're released at 06:00 AM in the T3.6 and T4 version, and at 2 PM in the T5 (or Travian Kingdoms) version.

@Shadowss, Yes I can add it, it's a bug, if someone delete his profile, all of his artifacts should be deleted.

[2018-06-12 17:48] Shadowss commented on #544
Artifact must to return to natars after 24 hours after player delete his profile

[2018-06-12 20:35] iopietro commented on #544
In the original Travian, the Multihunter could decide to reintroduce an artifact or not.

[2018-06-13 05:09] velhbxtyrj commented on #544
In general, for such cases it would be nice to have a corresponding section in the admin panel that will allow entering any artifact. For example, a drop-down list with all the artifacts and the choice of coordinates where the village with the artifact will appear.

[2018-06-13 09:39] Shadowss commented on #544
Yes , you can add it

[2018-06-14 15:48] giruf opened #549 "Create Users not working with small map word 25x25"
In the admin panel, the function Create Users should create tot players with village.
It get stuck in an infinite loop due to dimension of the map.

The function does not consider small words and keeps searching the
database for a village in coordinates like 80<X<25 and -25<Y<-80.
That's because the values "$wide1, $wide2" are calculated without considering WORLD_MAX

There is the case where $wide

[2018-06-15 00:34] iopietro commented on #549
Fixed in 9efbe9f, let me know if you still can't create them.

[2018-06-16 02:30] kelvintkt opened #550 "MariaDB compatibility?"
For **bug reports**, please use the folowing structure:

**1. expected behaviour**
![chrome_2018-06-16_12-15-16](https://user-images.githubusercontent.com/10344002/41494922-4a64f9e2-715f-11e8-9af6-c7a727ac4d0c.png)
Pressing okay at this page continues the a2b.php script to
![chrome_2018-06-16_12-18-43](https://user-images.githubusercontent.com/10344002/41494979-417d27ae-7160-11e8-9ac0-4d538b8b660f

[2018-06-16 18:13] Hooodoor opened #551 "Starvation critical bug: starving troops do not die when troops are in training"
**1. expected behaviour**
Starvation should go on as long as crop consumption is negative and there are still troops on the starving village.

**2. incorrect behaviour**
When troops are training in the starving village, starvation stops and crop quantity never goes below zero. Troops cease to die. Starvation resumes when all troops are trained. See below gif.

![myimage](https://user-images.github

[2018-06-16 23:49] iopietro commented on #551
Fixed in 8861a578e4513b24bf4469bdf9b25c47a746f459.

[2018-06-16 23:52] iopietro commented on #550
It should be compatible, it's probably another error. Withour error logs, I can't do nothing about that.

The user that posted #551 uses your own version of MariaDB.

[2018-06-16 23:52] #551 closed

[2018-06-17 13:16] velhbxtyrj commented on #448
Creating an administrator account, we still have some problems. I created a world of 25x25 and that's what I got with the administrator:

![default](https://user-images.githubusercontent.com/21306412/41508115-277794be-7248-11e8-9517-6a0d44f5ace2.jpg)

If I understand correctly, this is due to the fact that the world has a size of 25x25 and the administrator's village code should be created accordi

[2018-06-18 05:35] velhbxtyrj commented on #549
It works. Yesterday checked.

[2018-06-18 09:51] #549 closed

[2018-06-18 10:44] velhbxtyrj commented on #544
I fixed it just here https://github.com/Shadowss/TravianZ/commit/ce83e0fde53260a7797ca05af0726335a5dafafb

I forgot a piece of code html

[2018-06-19 11:53] Shadowss opened #552 "GLORIA MEDALS"
Hello ,

I post in separate post because is an TRAVIAN enhancement function.

If it`s possible to implement Gloria Medals to post in profile for best Offensive , Best Deffensive , etc.

Here is all medals (ALL FROM ALLIANCE DACIA WHO WIN 2018 TOURNAMENT) - Romanian :)

![def1](https://user-images.githubusercontent.com/1140613/41639155-882798b2-7465-11e8-940f-7e3d05334fd9.png)
![def2](https://user-

[2018-06-19 12:13] Shadowss commented on #552
Also you can check on my profile , i put it for testing purpose

http://travian.shadowss.ro/spieler.php?uid=7

[2018-06-19 22:01] velhbxtyrj commented on #524
@iopietro ~I tried to make the activation and deactivation of oases in the profile of the player using the admin and during the installation. During installation, everything works fine. Recording is off. Going to the admin area, I can only turn on (after saving, the entry is deleted from the config file). It can not be turned off (writing to the file is not specified at all). I've been trying to b

[2018-06-19 23:51] iopietro commented on #524
I think that because old servers don't have it written in the settings, I'll look carefully those errors.

[2018-06-20 06:38] velhbxtyrj commented on #524
But I independently registered this parameter in the config. And after I tried to change it, this record just went away and in the game it's always on. Even if it's disabled in the config, and change any other partition, then the entry is also deleted and becomes always on.

I also noticed that if we have an old server, then for this to work it is necessary for us to add the record by ourselves on

[2018-06-20 10:53] iopietro commented on #524
I do think so, constant_format and all files of the admin panels that edit config.php should be edited.

[2018-06-20 11:09] velhbxtyrj commented on #524
So it turns out that I did everything right. Today, I edited the files a little bit more that would eliminate fatal errors while editing other configuration sections. Can it make sense to try to unite these files here?

And one more thing about this. I created the second profile file (old file overview.tpl and new file newOverview.tpl). What is the best solution in this case? Leave one file and in

[2018-06-20 11:46] iopietro commented on #524
Yep, it makes sense, it can be optimized merging those single files in a unique one.

It would be better leaving only one file with an "if" that decides (by confronting the constant in the config.php file) if oases should be showed or not.

[2018-06-20 19:45] diogorocha18 commented on #546
Unfortunately I can not find it by this name, can you add me?
Skype: diogorocha222

[2018-06-20 22:33] velhbxtyrj commented on #381
@iopietro Does this code make sense in working capacity? I changed it a bit according to the logic of my last message.

Changed code:
[code]

Old Code:
[code]

[2018-06-21 13:06] iopietro commented on #381
Yes, it does make sense, only one thing: "MEDALINTERVAL" is the medal interval in seconds and not directly in days (so you have to do MEDALINTERVAL / 86400 to convert it in days).

[2018-06-22 05:21] Shadowss commented on #544
Evasion works fine. Did anyone fix it ? Lol

[2018-06-22 10:14] iopietro commented on #544
Evasion always worked in my local version, so I don't know.

Yeah, I know.

[2018-06-24 18:14] velhbxtyrj commented on #381
How much I correctly understand that this record needs to be set only in comparison? I.e:

[code]

Since we only have this part of the code in days and not in seconds?

[2018-06-25 19:02] velhbxtyrj commented on #544
![001_multihunter_preview](https://user-images.githubusercontent.com/21306412/41869966-54cf1e4c-78c3-11e8-8bec-c0135b750373.png)

[2018-06-25 22:11] iopietro commented on #544
In the textbox on the evasion settings section, shouldn't be displayed the number of evasions left?

[2018-06-25 22:11] iopietro commented on #381
Exactly, it only needs to be set in comparison.

[2018-06-26 05:04] velhbxtyrj commented on #544
Honestly I do not know how it was in real travian, but logically it should be displayed the number of evasions left.

[2018-06-26 05:38] velhbxtyrj commented on #381
It's still not the same code that we need. With this code, we change almost nothing and the medals will be issued with a binding to the start time of the server, except if we set an interval of seven days. We need to make the delivery of medals the next day after the interval (if this interval is one, two, three, four, five, six days), leave the second part as is (if seven days are the issue of me

[2018-06-26 06:33] Shadowss commented on #544
@velhbxtyrj : About that bug :

 Buildings that should be in the WW village:
All Woodcutter of the 5th level
All Clay Pit of the 5th level
All Iron Mine of the 5th level
All Cropland of the 6th level
Main Building of the 10th level
Marketplace of the 1th level
Warehouse of the 20th level
Warehouse of the 10th level
Granary of the 20th level
Granary of the 10th level

All buildings are spawned in A

[2018-06-26 06:55] velhbxtyrj commented on #544
Yes, I found this code, but I don't know what exactly is responsible for which buildings :)

[2018-06-26 06:59] velhbxtyrj commented on #544
Everything, I realized what this means, the first record is a cage, the second entry is a building in this cell of what level. I'll do it today.

[2018-06-26 07:09] Shadowss commented on #544
Also down that position is function for private function spawnWWBuildingPlans(){

That function doesn`t have any building set.

[2018-06-26 07:55] Shadowss commented on #544
@iopietro : I found the problem on evasion , why sometimes not work.

Evasion works to enter a value only you have a raid list. If you don`t have a raid list , evasion cannot be set.

[2018-06-26 16:27] velhbxtyrj commented on #544
I encountered a small problem during the code change for buildings in the WW village. All my changes work except that one more main building of the first level is created additionally in the place where it is located when creating a new village. The old code does not. I just can not understand the reason. Secondly, the population is 200 and not 233 as it should be.

[code]

For the population of 2

[2018-06-27 10:42] iopietro commented on #544
That's because when a new village is created, the main building is always created in that spot. You need to add (as I did in my previous array) `"f26t" => 0, "f26" => 0` to the array

[2018-06-27 12:03] iopietro commented on #381
So, if you want to release medals at the midnight of the choosen day, we need another kind of code, a more general one:
[code]

[2018-06-27 12:09] velhbxtyrj commented on #381
This is exactly what is required. Release medals at midnight of the choosen day.

[2018-06-27 12:17] velhbxtyrj commented on #544
Was not attentive. Thanks for the help.

[2018-06-27 12:20] iopietro commented on #544
No problem :).

[2018-06-28 05:43] Shadowss commented on #450
Can be closed ?

[2018-06-28 10:52] iopietro commented on #450
Not yet, there's still an discrepancy with the battle formula, when you attack a village with a wall and you damage/destroy it, the whole battle is recalculated, but battle results are a lot different than the original travian.

[2018-06-29 10:02] Shadowss commented on #450
I wanna ask if is counted in battle formula next attributes :

- Earth wall (teutons) is harder to destroy then other walls (roman and gauls walls)
- City wall (romans) is the easyest wall to destroy
- Palisade (gauls) is the half between romans and teutos walls

[2018-06-29 11:20] kirilloid commented on #450
Maybe, create a separate issue for rams?
For me “combat formulas” seems more like an epic, rather than one issue. But it’s up to you.

Walls durability coefficients are:
- city wall: *1*
- palisade: *2*
- earth wall: *5*

[2018-07-01 15:29] Squad3tm opened #553 "Admin Panel Login Issue."
For **feature requests**, you can delete this whole txt.

For **bug reports**, please use the folowing structure:

1. expected behaviour
2. incorrect behaviour
3. the operating system & version
4. PHP version on the server
5. MySQL / MariaDB version on the server

1: Logging into Admin Panel
2. Displays "Error" when trying to log in.
3. Linux, CentOS 7 64bit.
4. 7.0
5. Unknown

[2018-07-02 12:10] iopietro commented on #553
Can you log in with the Multihunter/Admin into the normal game?
Can you log in with normal players into the normal game?

[2018-07-02 12:23] iopietro commented on #450
@shadowss, Yes, they're already implemented.

@kirilloid, The only wrong formula is the one that recalculates the battle after the destruction/damaging of the walls, while the formulas that calculate how much a building have to be damaged (for rams and catapults) are slightly different than yours.

[2018-07-02 12:52] Squad3tm commented on #553
I could log in with both Multihunter and Admin to the normal game, but not into the Admin panel.

I reinstalled the entire thing and it now works, but the only thing I got when trying to login was "Error" on top of the Admin Login Page.

[2018-07-02 21:33] iopietro commented on #553
Mmh, I don't know, the whole admin panel will be reworked in the future, so I'll close this issue for now. If it'll still happen, I'll reopen it.

[2018-07-02 21:34] #553 closed

[2018-07-13 21:50] iopietro commented on #550
For now, considering that we can't reproduce it, I'll close this issue.

[2018-07-13 21:50] #550 closed

[2018-07-22 12:40] velhbxtyrj opened #554 "Some warnings with PHP 7.2 in statistics"
![default](https://user-images.githubusercontent.com/21306412/43045641-207a68c4-8dc5-11e8-81ae-608e4fbedb16.jpg)

This warning is displayed if there are no players in the statistics at all.

If this is the right decision then can implement it:

The selected part is bold:

else if($start == 1 && $start+20 < **count($ranking)**) {

Replace with the selected part in bold

else if($start == 1 && $star